<!-- collapse="condense" -->
<ion-header>
  <ion-toolbar style="height: 111px;">
    <app-explore-header style="width: 100%;"></app-explore-header>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="white-background">
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="center">
        <ion-label class="font-18" style="color: #2e2e2e;">Assign Driver</ion-label>
      </ion-col>
      <ion-col class="center-left" size="12" style="margin-top: -7%;">
        <ion-icon  (click)="back_Home()" name="chevron-back-outline" style="font-size: 25px; color: #747474; "></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row style="padding: 3%; margin-top: 5%;">
      <ion-col size="12" class="bar center-left">
        <ion-label class="font-16">New Assign</ion-label>
      </ion-col>
      <ion-col size="12" class="card-mm" style="margin-top: 10%;">
        <ion-row style="padding: 2.5%;">
          <ion-col size="12" class="space-between">
            <ion-label class="font-16" style="color: #469FD1;">Movement</ion-label>
            <ion-checkbox class="custom-checkbox font-14" style="color: #469FD1;">Journey 1</ion-checkbox>
          </ion-col>
          <ion-col size="12" class="card-mm-detail" style="margin-top: 2%;">
            <ion-row>
              <ion-col size="6" class="center-left">
                <ion-icon class="icon-blue" name="id-card-outline" style="margin-right: 7%;"></ion-icon>
                <ion-label class="font-14">208452</ion-label>
              </ion-col>
              <ion-col size="6" class="center-right">
                <ion-checkbox class="custom-checkbox"></ion-checkbox>
              </ion-col>
              <ion-col size="6" class="center-left">
                <ion-icon class="icon-blue" name="today-outline" style="margin-right: 7%;"></ion-icon>
                <ion-label class="font-14">01 Jan 2025 02.00</ion-label>
              </ion-col>
              <ion-col size="6" class="center-left">
                <ion-icon class="icon-blue" name="location-outline" style="margin-right: 7%;"></ion-icon>
                <ion-label class="font-14">01 Jan 2025 02.00</ion-label>
              </ion-col>
              <ion-col size="6" class="center-left">
                <ion-icon class="icon-blue" name="bus-outline" style="margin-right: 7%;"></ion-icon>
                <ion-label class="font-14">01 Jan 2025 02.00</ion-label>
              </ion-col>
              <ion-col size="6" class="center-left">
                <ion-icon class="icon-blue" name="location-outline"
                  style="margin-right: 7%; color: #000000;"></ion-icon>
                <ion-label class="font-14">01 Jan 2025 02.00</ion-label>
              </ion-col>
            </ion-row>
          </ion-col>

          <ion-col size="12" class="card-mm-detail" style="margin-top: 2%;">
            <ion-row>
              <ion-col size="6" class="center-left">
                <ion-icon class="icon-blue" name="id-card-outline" style="margin-right: 7%;"></ion-icon>
                <ion-label class="font-14">208452</ion-label>
              </ion-col>
              <ion-col size="6" class="center-right">
                <ion-checkbox class="custom-checkbox"></ion-checkbox>
              </ion-col>
              <ion-col size="6" class="center-left">
                <ion-icon class="icon-blue" name="today-outline" style="margin-right: 7%;"></ion-icon>
                <ion-label class="font-14">01 Jan 2025 02.00</ion-label>
              </ion-col>
              <ion-col size="6" class="center-left">
                <ion-icon class="icon-blue" name="location-outline" style="margin-right: 7%;"></ion-icon>
                <ion-label class="font-14">01 Jan 2025 02.00</ion-label>
              </ion-col>
              <ion-col size="6" class="center-left">
                <ion-icon class="icon-blue" name="bus-outline" style="margin-right: 7%;"></ion-icon>
                <ion-label class="font-14">01 Jan 2025 02.00</ion-label>
              </ion-col>
              <ion-col size="6" class="center-left">
                <ion-icon class="icon-blue" name="location-outline"
                  style="margin-right: 7%; color: #000000;"></ion-icon>
                <ion-label class="font-14">01 Jan 2025 02.00</ion-label>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>

      <!-- button -->
      <ion-col size="12" class="space-between" style="margin-top: 3%;">
        <ion-button class="font-14" style="color: #ffffff;">Staff Driver</ion-button>
        <ion-button class="font-14" style="color: #ffffff;">Affiliate</ion-button>
        <ion-button class="font-14" style="color: #ffffff;">Push job</ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>