ion-grid {
    padding: 3%;
}

.ion-button-blue {
    height: 41px;
    min-height: 41px;
    // --background: var(--unnamed-color-469fd1) 0% 0% no-repeat padding-box;
    --background: #469FD1 0% 0% no-repeat padding-box;
    --border-radius: 2px;
    --box-shadow: none;
    opacity: 1;
    text-transform: none !important;
}

.ion-button-gray {
    height: 40px;
    min-height: 40px;
    --background: #ACACAC 0% 0% no-repeat padding-box;
    --border-radius: 2px;
    --box-shadow: none;
    opacity: 1;
    text-transform: none !important;
}

.ion-button-green {
    // width: 160px;
    height: 40px;
    min-height: 40px;
    --background: #2EA455 0% 0% no-repeat padding-box;
    --border-radius: 2px;
    --box-shadow: none;
    opacity: 1;
    text-transform: none !important;
}

// ion-button {
//     --background-activated: #5fb6e9;
//     --background-hover: transparent;
//     --ripple-color: transparent;
// }

.font-16 {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal normal 16px/19px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.font-14 {
    text-align: left;
    font: normal normal normal 14px/19px Roboto;
    letter-spacing: 0px;
    opacity: 1;
}

.no-padding {
    padding: 0;
}

.ion-select-T {
    padding-right: 5%;
    padding-left: 5%;
    width: 100%;
    height: 41px;
    min-height: 41px;
    background: #FFFFFF;
    border: 0.1px solid #ACACAC;
    border-radius: 2px;
    --box-shadow: none;
    opacity: 1;
    color: #707070;
}

.ios ion-toolbar {
    padding-top: 5%;
}

.header-ios ion-toolbar:last-of-type {
    --border-width: 0 0 0 0;
}


.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-left {
    display: flex;
    align-items: center;
    justify-content: start;
}

.center-right {
    display: flex;
    align-items: center;
    justify-content: end;
}

.card-toolbar {
    width: 398px;
    height: 40px;
    background: var(--unnamed-color-469fd1) 0% 0% no-repeat padding-box;
    background: #469FD1 0% 0% no-repeat padding-box;
    box-shadow: none;
    border-radius: 2px;
    opacity: 1;
}

.iconbar {
    font-size: 24px;
    color: #FFFFFF;
}

.input {
    height: 40px;
    min-height: 40px;
    background: #FFFFFF;
    box-shadow: none;
    border: 0.1px solid #ACACAC;
    border-radius: 2px;
    --placeholder-opacity: var(--ion-placeholder-opacity, 1);
    color: #707070;
    --padding-start: 4%;
    --padding-end: 4%;
    --highlight-color: none;
    // opacity: 1;
}

.icon {
    font-size: 25px;
    color: #469FD1;
}

.icon-25 {
    font-size: 25px;
    color: #469FD1;
}

.icon-blue {
    font-size: 30px;
    color: #469FD1;
}

.icon-red {
    font-size: 30px;
    color: #FF0000;
}

.icon-green {
    font-size: 30px;
    color: #1F8447;
}

ion-textarea {
    --placeholder-opacity: var(--ion-placeholder-opacity, 1);
    height: 90px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.1px solid #ACACAC;
    border-radius: 2px;
    padding-left: 5%;
    opacity: 1;
}

.font-12 {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 12px/var(--unnamed-line-spacing-19) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-707070);
    text-align: left;
    font: normal normal normal 12px/19px Roboto;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}

.ion-card-header-green {
    height: 30px;
    background: #82B440 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 2px;
    opacity: 1;
}

.ion-card-header-yello {
    height: 30px;
    background: #FCC845 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 2px;
    opacity: 1;
}


ion-crad-content {
    height: 40px;
    min-height: 40px;
    --background: #F5F5F5 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 2px;
    opacity: 1;
}

ion-card {
    width: 100%;
}

.bar {
    height: 40px;
    border: 0.5px solid var(--unnamed-color-469fd1);
    box-shadow: none;
    border: 0.5px solid #469FD1;
    border-radius: 2px;
    opacity: 1;
}

ion-button {
    --background-activated: #;
    --background-hover: transparent;
    --ripple-color: transparent;
}

ion-select-option {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: 300 14px/19px Roboto;
    letter-spacing: 0px;
    color: #ACACAC;
    opacity: 1;
}

ion-segment {
    height: 41px;
    margin-bottom: 0.5%;
    background: #DFDFDF 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
}

ion-segment-view {
    width: 100%;
    height: 165px;
    background: #DFDFDF 0% 0% no-repeat padding-box;
    border-top: none;
    border-radius: 2px;
    opacity: 1;
}

// ion-segment-button{
//     border-radius: 2px !important;
//     background-color: #2EA455;
// }

// ion-segment-button::part(native) {
//     --border-radius: 2px;
//   }

ion-segment-button::part(indicator-background) {
    background: #469FD1;
    clip-path: inset(0% round 2px);
    /* กำหนด border-radius */
}

.f-seg {
    text-align: left;
    font: normal normal normal 16px/14px Roboto;
    letter-spacing: 0px;
    opacity: 1;
}

/* Material Design styles */
ion-segment-button.md::part(native) {
    color: #000;
}

.segment-button-checked.md::part(native) {
    color: #469FD1;
}

ion-segment-button.md::part(indicator-background) {
    height: 4px;
}

/* iOS styles */
ion-segment-button.ios::part(native) {
    color: #000;
}

.segment-button-checked.ios::part(native) {
    color: #FFFF;
}

ion-segment-button.ios::part(indicator-background) {
    width: 95%;
    height: 30px;
    min-height: 30px;
    border-radius: 4px;
    margin-top: 2%;
}


.input-segment {
    // height: 40px;
    // min-height: 10px;
    --padding-start: 6%;
    --padding-end: 6%;
    // --padding: 5%;
    padding-left: 5%;
    margin-bottom: 5%;
    height: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 2px;
    --placeholder-opacity: var(--ion-placeholder-opacity, 1);
    opacity: 1;
    color: #747474;

    ::placeholder {
        color: #747474;
        opacity: 1;
    }
}

ion-modal {
    --border-radius: 13px;
}

ion-toolbar {
    --background: #ffff;
    border: none;
    box-shadow: none;
}

ion-header {
    --background: #ffff;
    box-shadow: none;
    border-bottom: #fff;
}

ion-checkbox::part(container) {
    background-color: white !important;
    border: 1px solid #ccc !important;
    border-radius: 2px;
}

/* เมื่อ checkbox ถูกเลือก (checked) */
ion-checkbox[aria-checked="true"]::part(container) {
    border-color: #469FD1 !important;
    background-color: #469FD1 !important;
}

ion-checkbox {
    --size: 15px;
    --background: #ffffff !important;
    --border-color: #ccc !important;
    --border-width: 1px;
}

/* กำหนดสีขีดเครื่องหมายถูก (checkmark) */
ion-checkbox::part(mark) {
    color: #ffffff !important;
}

.white-background {
    --background: #ffffff !important;
}

ion-select-option {
    --background: #ffffff !important;
}

// .ion-valid.sc-ion-input-ios-h {
//     --highlight-color: none;
// }

// .ion-valid.sc-ion-input-md-h {
//     --highlight-color: none;
// }

.padding-input-left {
    padding-left: 3%;
}

.padding-input-right {
    padding-right: 3%;
}

.margin-input {
    margin-bottom: 1%;
}

.mb-2 {
    margin-bottom: 2%;
}

.ion-fab-button-h {
    width: 100px;
    height: 47px;
    min-height: 47px;
    margin-left: -135%;
    background: #2EA455 0% 0% no-repeat padding-box;
    border-radius: 50px;
    opacity: 1;
}

.ion-fab-button-c {
    margin: 0;
    width: 100%;
    height: 30px;
    --background: #397C53 0% 0% no-repeat padding-box;
    --box-shadow: 0px 3px 6px #00000029;
    --border-radius: 1px;
    --background-activated: transparent;
    --background-hover: transparent;
    --ripple-color: transparent;
    opacity: 1;
}

.icon-fab-h {
    font-size: 30px;
    color: #fff;
}

.icon-fab-c {
    // font-size: 50px;
    color: #FFFFFF;
    margin-right: 5%;
}

.feb-list {
    width: 430px;
    height: 47px;
    min-height: 47px;
    margin-left: -15%;
    background: #2EA455 0% 0% no-repeat padding-box;
    border-radius: 24px;
    opacity: 1;
}

.col {
    height: 35px;
    min-height: 35px;
}

.icon-fight {
    font-size: 28px;
    color: #469FD1;
}

.row-blue {
    height: 41px;
    background: #469FD1 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
}

.text-truncate {
    display: block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.input-text::part(native) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    width: 100%;
}

ion-input::part(native) {
    color: #747474;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

ion-input {
    --placeholder-color: #747474;
    --placeholder-opacity: 1;
    // --placeholder-text-overflow: ellipsis;
    // --placeholder-white-space: nowrap;
    // --placeholder-overflow: hidden;
}

.space{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.custom-col-check {
    flex: 0 0 50%;
}

.custom-col-op {
    flex: 0 0 50%;
}

.custom-col-pick {
    flex: 0 0 41.67%;
}

.custom-col-date {
    flex: 0 0 58.33%;
}

.custom-col-address {
    flex: 0 0 79.16%;
}

.custom-col-address-2 {
    flex: 0 0 20.83%;
}

// .col-note{

// }

.setting {
    // height: 1180;
    background: #F3F4F6 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
}

ion-toggle {
    --handle-width: 10px;
    --handle-height: 10px;
    color: #FFFFFF;
    // --track-width: 30px;
    // --track-height: 18px;
}

ion-toggle::part(track) {
    background: #747474;
}

ion-toggle::part(track) {
    width: 32px;
    height: 16px;
}

ion-toggle.toggle-checked::part(track) {
    background: #469FD1 !important;
    --handle-color: #FFFF;
}

@media (max-width: 390px) {
    .custom-col-pick {
        flex: 0 0 35%;
    }

    .custom-col-date {
        flex: 0 0 65%;
    }
}

@media (max-width: 360px) {
    .custom-col-check {
        flex: 0 0 40%;
    }

    .custom-col-op {
        flex: 0 0 60%;
    }

    .custom-col-address {
        flex: 0 0 75%;
    }

    .custom-col-address-2 {
        flex: 0 0 25%;
    }

    .custom-col-pick {
        flex: 0 0 100%;
    }

    .custom-col-date {
        flex: 0 0 75%;
    }

}


@media (max-width: 425px) {
    .feb-list {
        width: 425px;
        margin-left: -16%;
    }

    .col {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 400px) {
    .feb-list {
        width: 390px;
    }

    .font-16 {
        text-align: left;
        font: normal normal normal 14px/16px Roboto;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
    }

    .col {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 360px) {
    .feb-list {
        width: 360px;
        margin-left: -16%;
        text-align: left;
    }

    .font-16 {
        text-align: left;
        font: normal normal normal 14px/16px Roboto;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
    }

    .col {
        padding-left: 0;
        padding-right: 0;
    }
}