

<ion-menu side="end" menuId="first-menu" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>First Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-item routerLink="/tabs/inbox">
          <ion-icon name="mail-outline"></ion-icon>
          <h1>Inbox</h1>
    </ion-item>
  </ion-content>
</ion-menu>

<ion-tabs >

  <ion-tab-bar slot="bottom">
    <ion-tab-button #iconN tab="new-job" (click)="changeIcon_Newjob()">
      <ion-icon aria-hidden="true" [name]="newjob"></ion-icon>
      <ion-label>New Job</ion-label>
    </ion-tab-button>

    <ion-tab-button #iconJ tab="job"  (click)="changeIcon_Job()">
      <ion-icon aria-hidden="true" [name]="job"></ion-icon>
      <ion-label>Job</ion-label>
    </ion-tab-button>

    <ion-tab-button #iconH tab="home" (click)="changeIcon_Home()">
      <ion-icon aria-hidden="true" [name]="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button #iconC tab="contacts" (click)="changeIcon_Con()">
      <ion-icon aria-hidden="true" [name]="contacts"></ion-icon>
      <ion-label>Contacts</ion-label>
    </ion-tab-button>


    <ion-tab-button #iconM (click)="openFirstMenu()" (click)="changeIcon_More()" id="main-content">
      <ion-icon [name]="more"></ion-icon>
      <ion-label>More</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
