<ion-header>
  <ion-toolbar>
    <app-explore-header></app-explore-header>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-fab slot="fixed" vertical="center" horizontal="start" class="center">
    <ion-col *ngIf="checkfabButton == true" class="ion-fab-button-h center-right" (click)="toggleFabButton()">
      <ion-icon name="chevron-forward-outline" class="icon-fab-h"></ion-icon>
    </ion-col>
    <ion-list side="end" class="feb-list center" *ngIf="checkfabButton == false">
      <ion-row class="center" style="width: 100%; padding-left: 5%;">
        <ion-col size="3.5" class="center col" style="border-right: 2px solid #FFFFFF;">
          <ion-icon name="bookmark-outline" class="icon-fab-c"></ion-icon>
          <ion-fab-label class="font-16" style="font-weight: 300; color: #FFFFFF;">Book Now</ion-fab-label>
        </ion-col>
        <ion-col size="3.5" class="center col" >
          <ion-icon name="share-social-outline"class="icon-fab-c" ></ion-icon>
          <ion-fab-label class="font-16" style="font-weight: 300; color: #FFFFFF;">Save & Send</ion-fab-label>
        </ion-col>
        <ion-col size="3.5" class="center col" style="border-left: 2px solid #FFFFFF;">
          <ion-icon name="save-outline" class="icon-fab-c" ></ion-icon>
          <ion-fab-label class="font-16" style="font-weight: 300; color: #FFFFFF;" >Quick Save</ion-fab-label>
        </ion-col>
        <ion-col size="1.5" class="center col" (click)="toggleFabButton()">
          <ion-icon name="chevron-forward-outline" class="icon-fab-h"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-list>
  </ion-fab> -->
  <ion-grid>
    <ion-col size="12" class="center">
      <ion-label class="font-18" style="color: #0D0D0D;">Quote Preview</ion-label>
    </ion-col>
    <ion-row style="margin-top: 2%; margin-bottom: 3%;">
      <ion-col size="12" style="padding-bottom: 0;">
        <ion-label class="font-18" style="color: #469FD1;">Job ID:</ion-label>
        <ion-label class="font-18" style="color: #747474;">{{q_id}}</ion-label>
      </ion-col>
      <ion-col size="12" style="display: flex; align-items: center; justify-content: space-between;">
        <ion-label class="font-16" style="color: #313848;">
          Start Date:
          <span style="color: #707070;">{{date_j}} {{time_j}}</span>
        </ion-label>
        <ion-checkbox class="font-16 unchecked-checkbox" style="color: #747474;" [checked]="selectAll"
          (ionChange)="oncselectAll($event)" labelPlacement="end">Select All</ion-checkbox>
      </ion-col>
    </ion-row>

    <!-- <ion-row class="no-padding"> -->
    <ion-card class="card-background" *ngFor="let jj of dt_q; let i = index">

      <ion-card-content class="card-content">
        <ion-row style="margin-bottom: 3%;">
          <ion-col class="custom-col">
            <ion-row>
              <ion-label class="font-16" style="color: #469FD1;">Journey: {{i+1}}</ion-label>
            </ion-row>
            <ion-row style="padding-top: 5%; padding-left: 16%; ">
              <ion-checkbox class="font-16 unchecked-checkbox" style="color: #747474;" [checked]="quote_pre.checkAll[i]"
                (ionChange)="onccheckAll($event,i)" labelPlacement="end">Check All</ion-checkbox>
            </ion-row>
          </ion-col>
          <ion-col>
            <ion-row *ngIf="i !== 0" style="margin-bottom: 5%;">
              <ion-col size="12" style="display: flex;">
                <ion-label class="font-14">Vehicle Stay:</ion-label>
                <ion-select class="font-14" style="color: #ACACAC; margin-left: 2%; width: 100%; " interface="popover"
                  value="AutoNo">
                  <ion-select-option value="No">No</ion-select-option>
                  <ion-select-option value="AutoNo">Auto No</ion-select-option>
                  <ion-select-option value="AutoYes">Auto Yes</ion-select-option>
                  <ion-select-option value="Yes">Yes</ion-select-option>
                </ion-select>
              </ion-col>

            </ion-row>
            <ion-row style="display: flex; align-items: center; justify-content: end;">
              <ion-label class="font-icon" style="margin-right: 5%;">$</ion-label>
              <ion-input class="input" value="{{jj['j_price']}}" style="margin-right: 5%;"></ion-input>
              <ion-icon class="icon" name="map" style="margin-right: 3%;"></ion-icon>
            </ion-row>
          </ion-col>
        </ion-row>

        <ion-card class="card" *ngFor="let mm of jj['movement_quote']; let j = index" style="margin-bottom: 4%;">
          <ion-card-content style="padding: 3%;">
            <ion-row>
              <ion-col class="custom-col2 center-left">
                <ion-checkbox class="font-14 unchecked-checkbox" [checked]="quote_pre.mmcheck[i][j]"
                  (ionChange)="onccheck($event,i,j)" labelPlacement="end">{{mm.date_start}}
                  {{mm.time_start}}</ion-checkbox>
              </ion-col>
              <ion-col class="center" style="display: flex; align-items: center; justify-content: end;">
                <ion-icon name="navigate-circle-outline" style="font-size: 20px;"></ion-icon>
                <ion-label class="font-14"> {{mm.mileage}} mile</ion-label>
                <ion-icon name="alarm-outline" style="font-size: 20px; margin-left: 4%;"></ion-icon>
                <ion-label class="font-14"> {{mm.time_use}} min</ion-label>
              </ion-col>
            </ion-row>

            <!-- <ion-row style="height: auto; margin-top: 1%;">
              <ion-col size-xs="1.5"
                style="padding: 5; display: flex; flex-direction: column; justify-content: space-between; align-items: flex-start; height: 100%; ">
                <ion-row>
                  <ion-label class="font-14" style="color: #ACACAC;">From:</ion-label>
                </ion-row>
                <ion-row>

                </ion-row>
              </ion-col>
              <ion-col size-xs="1.5" style="height: auto;">
                <ion-row style="height: 100%;">
                  <ion-label class="icon-line" style="height: calc(100% - 30px);"></ion-label>
                </ion-row>
              </ion-col>
              <ion-col size-xs="9">
                <ion-row #row style="margin-bottom: 15px;">
                  <ion-label class="font-14" style="color: #747474;">{{mm.address_start}}</ion-label>
                </ion-row>
                <ion-row>
                  <ion-col size="2" class="margin-to">
                    <ion-label class="font-14" style="color: #ACACAC;" >To:</ion-label>
                  </ion-col>
                  <ion-col offset="2.01" size="12" >
                    <ion-label class="font-14" style="color: #747474; ">{{mm.address_last}}</ion-label>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-label class="font-14" style="color: #469FD1; margin-top: 5px;">ETA : {{mm.eta}}</ion-label>
                </ion-row>
              </ion-col>
            </ion-row> -->

            <ion-row style="height: auto; margin-top: 1%;">
              <ion-col size-xs="1.5"
                style="padding: 5; display: flex; flex-direction: column; justify-content: space-between; align-items: flex-start; height: 100%; ">
                <ion-row>
                  <ion-label class="font-14" style="color: #ACACAC;">From:</ion-label>
                </ion-row>
                <ion-row *ngIf="t_row[i] && t_row[i][j]" [ngStyle]="{'margin-top.px': t_row[i][j] + 6}">
                  <ion-label class="font-14" style="color: #ACACAC;">To:</ion-label>
                </ion-row>
              </ion-col>
              <ion-col size-xs="1.5" style="height: auto;">
                <ion-row style="height: 100%;">
                  <ion-label class="icon-line" style="height: calc(100% - 30px)"></ion-label>
                </ion-row>
              </ion-col>
              <ion-col size-xs="9">
                <ion-row id="row_start_{{i}}_{{j}}" style="margin-bottom: 25px;">
                  <ion-label class="font-14" style="color: #747474;">{{mm.address_start}}</ion-label>
                </ion-row>
                <ion-row>
                  <ion-label class="font-14" style="color: #747474;">{{mm.address_last}}</ion-label>
                </ion-row>
                <ion-row>
                  <ion-label class="font-14" style="color: #469FD1; margin-top: 5%;">ETA : {{mm.eta}}</ion-label>
                </ion-row>
              </ion-col>
            </ion-row>


            <ion-row>
              <ion-col size-xs="9">
                <ion-label class="font-14" style="color: #747474;">{{mm.progress.progress}}</ion-label>
                <ion-icon name="ellipse" style="margin-left: 3%;"
                  [ngStyle]="{ color: '#' + mm.progress.bg, fontSize: '9px' }">></ion-icon>
              </ion-col>
              <ion-col size-xs="3" style="display: flex; justify-content: end;">
                <ion-icon name="play-outline" (click)="toggleDrop(i,j)"
                  style="font-size: 22px; transform: rotate(90deg); color: #ACACAC;"></ion-icon>
              </ion-col>
            </ion-row>

            <!-- *ngIf="isdrop[i] && isdrop[i][j]" -->
            <ion-row *ngIf="isdrop[i] && isdrop[i][j]">
              <ion-col size="12" class="mb-2">
                <ion-checkbox class="font-14 unchecked-checkbox" labelPlacement="start"
                  style="color: #747474; font-weight: bold;">
                  Start ofJourney
                </ion-checkbox>
              </ion-col>
              <ion-col class="center-left mb-2 custom-col-pick">
                <ion-label class="font-14" style="color: #FF0000;">Pickup date</ion-label>
              </ion-col>
              <ion-col class="mb-2 custom-col-date">
                <ion-input class="font-14 ion-input" style="color: #707070; "
                  value="{{date_c ? date_c : mm.date_start}} {{time_c ? time_c : mm.time_start}}">
                  <ion-icon id="open-date[{{i}}][{{j}}]" style="margin-right: 2%; padding: 0;" slot="end"
                    name="today-outline" class="icon-blue"></ion-icon>
                  <ion-icon id="open-time[{{i}}][{{j}}]" style="margin-right: 2%;" slot="end" name="time-outline"
                    class="icon-blue"></ion-icon>
                </ion-input>
              </ion-col>

              <!-- Popover date-->
              <ion-popover class="custom-popover" style="width: 500px;" trigger="open-date[{{i}}][{{j}}]" side="bottom"
                alignment="center">
                <ng-template>
                  <ion-content class="popover-content">
                    <ion-datetime presentation="date" (ionChange)="onDateChange($event)">
                    </ion-datetime>
                  </ion-content>
                </ng-template>
              </ion-popover>

              <!-- Popover time-->
              <ion-popover trigger="open-time[{{i}}][{{j}}]" side="bottom" alignment="center">
                <ng-template>
                  <ion-content class="popover-content-time">
                    <ion-datetime class="time-size" presentation="time" (ionChange)="onTimeChange($event)">
                    </ion-datetime>
                    <ion-button expand="full" (click)="close()">ตกลง</ion-button>
                  </ion-content>
                </ng-template>
              </ion-popover>

              <ion-row class="mb-2" style="width: 100%;">
                <ion-col size="12" class="mb-2">
                  <ion-label class="font-14" style="color: #FF0000;">Collection Address(2)</ion-label>
                </ion-col>
                <ion-col class="col-sm">
                  <ion-input class="font-14 ion-input"
                    style="color: #000000; border: none; background: #D9D9D9 0% 0% no-repeat padding-box; padding: 3%;"
                    value="{{mm.address_last}}" disabled="true">
                  </ion-input>
                </ion-col>
                <ion-col>
                  <ion-icon class="icon-blue" name="location-outline" style="font-size: 35px;"></ion-icon>
                  <ion-icon class="icon-blue" name="reader-outline" style="font-size: 35px;"></ion-icon>
                </ion-col>
              </ion-row>
              <ion-row class="mb-2" style="width: 100%;">
                <ion-col size="12">
                  <ion-label class="font-14" style="color: #FF0000;">Destination Address(2)</ion-label>
                </ion-col>
                <ion-col class="col-sm">
                  <ion-input class="center font-14 ion-input"></ion-input>
                </ion-col>
                <ion-col>
                  <ion-icon class="icon-blue" name="location-outline" style="font-size: 35px;"></ion-icon>
                  <ion-icon class="icon-blue" name="reader-outline" style="font-size: 35px;"></ion-icon>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col size="12" class="mb-2">
                  <ion-label class="font-16" style="color: #707070; font-weight: bold;">Vehicle</ion-label>
                </ion-col>
                <ion-col size="4" class="center-left">
                  <ion-label class="font-14" style="color: #FF0000;">Passenger</ion-label>
                </ion-col>
                <ion-col size="8">
                  <ion-select class="font-14 ion-select-T" style="color: #707070;" label-placement="floating"
                    interface="popover" [value]="select_pax[i][j] ? select_pax[i][j] : +mm.pax"
                    (ionChange)="paxChange($event, i, j)">
                    <!-- <ion-select-option value="0">{{mm.pax}}</ion-select-option> -->
                    <ion-select-option value="selectpax">Select Pax</ion-select-option>
                    <ion-select-option *ngFor="let i of [].constructor(100); let index = index" [value]="index + 1">
                      {{ index + 1 }} Paxs
                    </ion-select-option>
                  </ion-select>
                </ion-col>

                <ion-col size="4" class="center-left">
                  <ion-label class="font-14" style="color: #FF0000;">Vehicle</ion-label>
                </ion-col>
                <ion-col size="8">
                  <ion-select class="font-14 ion-select-T " style="color: #707070; " label-placement="floating"
                    interface="popover" [value]="select_vehicle_[i][j] ? select_vehicle_[i][j] : mm.car_id"
                    (ionFocus)="vehicleChange_fo(select_pax ? select_pax : mm.pax)"
                    (ionChange)="vehicleChange($event, i, j)">
                    <ion-select-option class="custom-option" value="selectvehicle">Select Vehicle</ion-select-option>
                    <ion-select-option *ngFor="let vehi of vehicle || [0]" [value]="vehi?.car_id || mm.car_id">
                      {{ vehi?.car_name || mm.car_name }}
                    </ion-select-option>
                  </ion-select>
                </ion-col>
                <ion-col size="4" class="center-left">
                  <ion-label class="font-14" style="color: #FF0000;">Luggage</ion-label>
                </ion-col>
                <ion-col size="8">
                  <ion-select class="font-14 ion-select-T" style="color: #707070;" label-placement="floating"
                    interface="popover" [value]="select_luggage_[i][j] ? select_luggage_[i][j] : mm.bag_id"
                    (ionFocus)="luggageChange_fo(select_pax ? select_pax : mm.pax, select_vehicle_ ? select_vehicle_ : mm.car_id)"
                    (ionChange)="luggageChange($event, i, j)">
                    <ion-select-option value="selectluggage">Select Luggage</ion-select-option>
                    <ion-select-option *ngFor="let lug of luggage || [0]" [value]="lug?.bag_id || mm.bag_id">
                      {{ lug?.bag_des || mm.bag_name }}
                    </ion-select-option>
                  </ion-select>
                </ion-col>
                <ion-col size="4" class="center-left">
                  <ion-label class="font-14">Journey Type</ion-label>
                </ion-col>
                <ion-col size="8">
                  <ion-select class="font-14 ion-select-T" style="color: #707070;" label-placement="floating"
                    interface="popover"
                    [value]="select_journey_type_[i][j] ? select_journey_type_[i][j] : mm.journey_type_id"
                    (ionFocus)="select_journeyT()" (ionChange)="select_journey($event,i,j)"
                    style="--select-icon:url('assets/images/chevron-down-outline.svg');">
                    <ion-select-option value="selectjourney">Select Journey Type</ion-select-option>
                    <ion-select-option *ngFor="let j_type of journey_type || [0]"
                      [value]="j_type?.jt_id || mm.journey_type_id">
                      {{ j_type?.name || mm.journey_type }}
                    </ion-select-option>
                  </ion-select>
                </ion-col>
              </ion-row>
              <!-- <ion-row> -->
              <ion-col size="12" class="" style="display: flex; align-items: center; margin-top: 4%;">
                <ion-row class="card-tool center-left" style="width: 100%; padding-left: 2%;" (click)="showFilghtDrtail()">
                  <ion-label class="font-16 " style="color: #469FD1;">Filght Detaild</ion-label>
                </ion-row>
              </ion-col>
              <ion-col>
                <ion-col size="12" *ngIf="isFilght">
                  <ion-row>
                    <ion-segment (ionChange)="segmentChanged($event)" style="background-color: #DFDFDF;">
                      <ion-segment-button value="medium" content-id="arrival" class="center">
                        <ion-label class="f-seg">Arrival</ion-label>
                      </ion-segment-button>
                      <ion-segment-button value="segment">
                        <ion-label class="f-seg">Departure</ion-label>
                      </ion-segment-button>
                    </ion-segment>
                    <ion-segment-view>
                      <ion-segment-content id="arrival" style="padding: 2%;">
                        <ion-row>
                          <ion-col class="no-padding" style="margin-right: 2%;">
                            <ion-input class="input-segment" placeholder="Filght Airline">
                              <ion-icon slot="end" class="icon-fight" name="ticket-outline"></ion-icon>
                            </ion-input>
                          </ion-col>
                          <ion-col class="no-padding" style="display: flex; align-items: center; justify-content: end;">
                            <ion-input class="input-segment" placeholder="Number">
                              <ion-icon slot="end" class="icon-fight" name="search-outline"></ion-icon>
                            </ion-input>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col class="no-padding" style="margin-right: 2%;">
                            <ion-input class="input-segment" placeholder="Date">
                              <ion-icon slot="end" class="icon-fight" name="today-outline"></ion-icon>
                            </ion-input>
                          </ion-col>
                          <ion-col class="no-padding" style="display: flex; align-items: center; justify-content: end;">
                            <ion-input class="input-segment" placeholder="Time">
                              <ion-icon slot="end" class="icon-fight" name="time-outline"></ion-icon>
                            </ion-input>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col class="no-padding" style="margin-right: 2%;">
                            <ion-input class="input-segment" placeholder="Airport">
                              <ion-icon slot="end" class="icon-fight" name="airplane-outline"></ion-icon>
                            </ion-input>
                          </ion-col>
                          <ion-col class="no-padding" style="display: flex; align-items: center; justify-content: end;">
                            <ion-input class="input-segment" placeholder="Terminal">
                              <ion-icon slot="end" class="icon-fight" name="trail-sign-outline"></ion-icon>
                            </ion-input>
                          </ion-col>
                        </ion-row>
                      </ion-segment-content>
                    </ion-segment-view>
                  </ion-row>
                </ion-col>
                <ion-col size="12" style="display: flex; align-items: center; justify-content: end;">
                  <ion-icon class="icon" name="trash-outline"></ion-icon>
                </ion-col>
              </ion-col>


              <!-- </ion-row> -->
              <!-- <ion-row>
                <ion-col size="12" style="padding: 5%;">
                  <ion-segment (ionChange)="segmentChanged($event)">
                    <ion-segment-button value="medium" content-id="arrival" class="center">
                      <ion-label class="f-seg">Arrival</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="segment">
                      <ion-label class="f-seg">Departure</ion-label>
                    </ion-segment-button>
                  </ion-segment>
                  <ion-segment-view>
                    <ion-segment-content id="arrival" style="padding: 2%;">
                      <ion-row>
                        <ion-col class="no-padding" style="margin-right: 2%;">
                          <ion-input class="input-segment" placeholder="Filght Airline">
                            <ion-icon slot="end" class="icon-fight" name="ticket-outline"></ion-icon>
                          </ion-input>
                        </ion-col>
                        <ion-col class="no-padding" style="display: flex; align-items: center; justify-content: end;">
                          <ion-input class="input-segment" placeholder="Number">
                            <ion-icon slot="end" class="icon-fight" name="search-outline"></ion-icon>
                          </ion-input>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col class="no-padding" style="margin-right: 2%;">
                          <ion-input class="input-segment" placeholder="Date">
                            <ion-icon slot="end" class="icon-fight" name="today-outline"></ion-icon>
                          </ion-input>
                        </ion-col>
                        <ion-col class="no-padding" style="display: flex; align-items: center; justify-content: end;">
                          <ion-input class="input-segment" placeholder="Time">
                            <ion-icon slot="end" class="icon-fight" name="time-outline"></ion-icon>
                          </ion-input>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col class="no-padding" style="margin-right: 2%;">
                          <ion-input class="input-segment" placeholder="Airport">
                            <ion-icon slot="end" class="icon-fight" name="airplane-outline"></ion-icon>
                          </ion-input>
                        </ion-col>
                        <ion-col class="no-padding" style="display: flex; align-items: center; justify-content: end;">
                          <ion-input class="input-segment" placeholder="Terminal">
                            <ion-icon slot="end" class="icon-fight" name="trail-sign-outline"></ion-icon>
                          </ion-input>
                        </ion-col>
                      </ion-row>
                    </ion-segment-content>
                  </ion-segment-view>
                </ion-col>
              </ion-row> -->

            </ion-row>


          </ion-card-content>
        </ion-card>
        <ion-row *ngIf="i === dt_q.length - 1" class="no-padding">
          <ion-row>
            <ion-col size="12">
              <ion-row>
                <ion-col size="5" class="no-padding" style="margin-right: 2%;"
                  (click)="open_jLast(dt_q.length-1,jj['movement_quote'].length-1)">
                  <ion-button class="no-padding ion-button-blue" style="font-weight: 300; white-space: nowrap;">Add
                    Movement</ion-button>
                </ion-col>
                <ion-col size="5.5" class="no-padding">
                  <ion-button class="no-padding ion-button-blue" style="font-weight: 300; white-space: nowrap;">Add
                    Blank
                    Journey
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-col>

            <ion-col size="12">
              <ion-row>
                <ion-col size="4" class="no-padding" style="margin-right: 2%;">
                  <ion-button class="ion-button-blue" style="font-weight: 300;">Add Return</ion-button>
                </ion-col>
                <ion-col size="5.5" class="no-padding">
                  <ion-button class="no-padding ion-button-blue" style="font-weight: 300;">Remove
                    Movement</ion-button>
                </ion-col>
              </ion-row>
            </ion-col>

            <ion-col size="12">
              <ion-row>
                <ion-col size="4" class="no-padding" style="margin-right: 2%;">
                  <ion-button (click)="to_CoveringJob()" class="ion-button-gray">Covering
                    job</ion-button>
                </ion-col>
                <ion-col size="5.8" class="no-padding ">
                  <ion-button class="no-padding ion-button-gray">Duplicate
                    Movement</ion-button>
                </ion-col>
              </ion-row>
            </ion-col>

            <ion-col size="12">
              <ion-row>
                <ion-col size="5.2" class="no-padding" style="margin-right: 2%;">
                  <ion-button class="no-padding ion-button-gray">Duplicate
                    Journey</ion-button>
                </ion-col>
                <ion-col size="4.1" class="no-padding">
                  <ion-button class="no-padding ion-button-gray">Assign Driver</ion-button>
                </ion-col>
              </ion-row>
            </ion-col>

            <ion-col size="12">
              <ion-row>
                <ion-col size="4.5" class="no-padding">
                  <ion-button class="no-padding ion-button-gray">Remove Driver</ion-button>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-col size="12" class="center-right">
            <ion-icon (click)="togglemap()" style="width: 40px; height: 32px; color: #469FD1;" name="map"></ion-icon>
          </ion-col>
          <ion-card *ngIf="isvisiblemap" style="width: 350px; height: 300px;">
            <app-map></app-map>
          </ion-card>
        </ion-row>

      </ion-card-content>
    </ion-card>
    <ion-row>
      <ion-col size="12" class="card-toolbar">
        <ion-row (click)="toggleCus()">
          <ion-col size="7" class="center-left">
            <ion-icon name="person-outline" style="font-size: 25px; margin-right: 5%; color: #ffff;"></ion-icon>
            <ion-label style="color: #ffff;">| Customer</ion-label>
          </ion-col>
          <ion-col size="5" class="center" style="justify-content: space-between;">
            <ion-icon class="iconbar" name="mail-outline"></ion-icon>
            <ion-icon class="iconbar" name="call-outline"></ion-icon>
            <ion-icon class="iconbar" name="id-card-outline"></ion-icon>
            <ion-icon class="iconbar" name="notifications-circle-outline"></ion-icon>
            <ion-icon class="iconbar" [name]="iconNameCus"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="isdropCus">
      <ion-col size="12" style="display: flex; align-items: center; justify-content: end;">
        <ion-icon style="font-size: 25px; color: #469FD1;" name="create-outline"></ion-icon>
      </ion-col>
      <ion-row style="padding: 2%;">
        <ion-col size="6">
          <ion-label class="font-14" style="color: #000000;">name: <span
              style="color: #707070;">{{this.dt_c.name}}</span></ion-label>
        </ion-col>
        <ion-col size="6">
          <ion-label class="font-14" style="color: #000000;">Company: <span
              style="color: #707070;">{{this.dt_c.company}}</span></ion-label>
        </ion-col>
        <ion-col size="6">
          <ion-label class="font-14 text-truncate" style="color: #000000;">Email: <span
              style="color: #707070;">{{this.dt_c.email}}</span></ion-label>
        </ion-col>
        <ion-col size="6">
          <ion-label class="font-14" style="color: #000000;">Ext Ref : <span
              style="color: #707070;">{{this.dt_c.ext_ref}}</span></ion-label>
        </ion-col>
        <ion-col size="6">
          <ion-label class="font-14" style="color: #000000;">Phone: <span
              style="color: #707070;">{{this.dt_c.phone}}</span></ion-label>
        </ion-col>
        <ion-col size="6" style="display: flex; justify-content: space-between;">
          <ion-label class="font-14" style="color: #000000;">Moblie: </ion-label>
          <ion-icon class="icon-moblie" name="call"></ion-icon>
          <ion-icon class="icon-moblie" name="phone-portrait"></ion-icon>
          <ion-icon class="icon-moblie" name="recording"></ion-icon>
        </ion-col>
        <ion-col size="6" class="center-left">
          <ion-label class="font-14" style="color: #000000; margin-right: 2%;">E-mail on this job:</ion-label>
          <ion-badge class="center font-16"
            style="color: #ffff;">{{this.dt_c.email_quote}}/{{this.dt_c.email_other}}</ion-badge>
        </ion-col>
        <ion-col size="6" class="center-left">
          <ion-label class="font-14" style="color: #000000; margin-right: 2%;">SMS on this job:</ion-label>
          <ion-badge class="center font-16"
            style="color: #ffff;">{{this.dt_c.sms_quote}}/{{this.dt_c.sms_other}}</ion-badge>
        </ion-col>
        <ion-col size="12">
          <ion-label class="font-14" style="color: #469FD1; font-weight: bold;">Passenger</ion-label>
        </ion-col>
        <ion-col size="12">
          <ion-label class="font-14" style="color: #000000;">Passenger Name: <span
              style="color: #747474;">{{this.dt_c.passenger_name}}</span></ion-label>
        </ion-col>
        <ion-col size="12">
          <ion-label class="font-14" style="color: #000000;">Passenger Email: <span
              style="color: #747474;">{{this.dt_c.passenger_email}}</span></ion-label>
        </ion-col>
        <ion-col size="12">
          <ion-label class="font-14" style="color: #000000;">Passenger Number: <span
              style="color: #747474;">{{this.dt_c.passenger_number}}</span></ion-label>
        </ion-col>
        <ion-col offset="7" size="5">
          <ion-button class="ion-button-blue center">
            <ion-icon name="chatbubbles-outline" style="margin-right: 3%; font-size: 25px;"></ion-icon>
            Contact Log
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-row>

    <ion-row>
      <ion-col size="12" class="card-toolbar">
        <ion-row (click)="toggleTran()">
          <ion-col size="8" class="center-left">
            <ion-icon name="bus-outline" style="width: 25px; height: 29px; margin-right: 5%; color: #ffff;"></ion-icon>
            <ion-label style="color: #ffff;">| Transport</ion-label>
          </ion-col>
          <ion-col size="4" class="center" style="justify-content: space-between;">
            <ion-icon class="iconbar" name="people-circle-outline"></ion-icon>
            <ion-icon class="iconbar" name="briefcase-outline"></ion-icon>
            <ion-icon class="iconbar" name="notifications-circle-outline"></ion-icon>
            <ion-icon class="iconbar" [name]="iconNameTran"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="isdropTran" style="margin-bottom: 6%; margin-top: 3%;">
      <ion-col offset="7" size="5" class="mb-2">
        <ion-button class="ion-button-blue center font-14">
          Show Movement
        </ion-button>
      </ion-col>
      <ion-col size="6" class="mb-2">
        <ion-select class="font-14 ion-select-T" style="color: #ACACAC;" label-placement="floating" interface="popover"
          [value]="select_pax_tran ? select_pax_tran : +dt_t.pax" (ionChange)="paxTran($event)">
          <ion-select-option value="selectpax">Select Pax</ion-select-option>
          <ion-select-option *ngFor="let i of [].constructor(100); let index = index" [value]="index + 1">
            {{ index + 1 }} Paxs
          </ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="6" class="mb-2">
        <ion-select class="font-14 ion-select-T" style="color: #ACACAC;" label-placement="floating" interface="popover"
          [value]="select_vehicle_tran ? select_vehicle_tran : dt_t.car_id" (ionChange)="vehicleTran($event)">
          <ion-select-option class="custom-option" value="selectvehicle">Select Vehicle</ion-select-option>
          <ion-select-option *ngFor="let vehi of vehicle_tran" [value]="vehi.car_id">
            {{ vehi.car_name }}
          </ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="6" class="mb-2">
        <ion-select class="font-14 ion-select-T" style="color: #ACACAC;" label-placement="floating" interface="popover"
          [value]="select_luggage_tran ? select_luggage_tran : dt_t.bag_id" (ionChange)="luggageTran($event)">
          <ion-select-option class="custom-option" value="selectluggage">Select Luggage</ion-select-option>
          <ion-select-option *ngFor="let lug of luggage_tran" [value]="lug.bag_id">
            {{ lug.bag_des }}
          </ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="6" class="mb-2">
        <ion-select class="font-14 ion-select-T" style="color: #ACACAC;" label-placement="floating" interface="popover"
          [value]="select_journey_type_tran ? select_journey_type_tran : dt_t.journey_type_id"
          (ionChange)="journey_type_Tran($event)">
          <ion-select-option class="custom-option" value="selectjourney">Set Alternative Type</ion-select-option>
          <ion-select-option *ngFor="let j_type of journey_type_tran" [value]="j_type.jt_id">
            {{ j_type.name }}
          </ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="6" class="center-left" style="margin-top: 2%;">
        <ion-icon name="bus-outline" style="color: #AB1C1C; width: 25px; height: 29px"></ion-icon>
        <ion-label class="font-16" style="color: #AB1C1C;" (click)="toggleVehicles()">Set Alternative Type</ion-label>
      </ion-col>
      <ion-col size="6" class="center-left">
        <ion-icon name="bus-outline" style="color: #000000; width: 25px; height: 29px"></ion-icon>
        <ion-label class="font-16 " style="color: #000000;" (click)="toggleAs()">As Directed</ion-label>
      </ion-col>
      <ion-col offset="6" *ngIf="isdropAs">
        <ion-row>
          <ion-input class="input font-14 " style="margin-right: 2%;" placeholder=" Hours"></ion-input>
          <ion-input class="input font-14 " placeholder=" Days"></ion-input>
        </ion-row>
      </ion-col>
      <ion-row *ngIf="isdropVehicles">
        <ion-col size="6">
          <ion-select class="font-14 ion-select-T" style="color: #ACACAC;" label-placement="floating"
            interface="popover" value="70 Pax(s)">
            <ion-select-option value="70 Pax(s)">70 Pax(s)</ion-select-option>
            <ion-select-option value="70 Pax(s)">70 Pax(s)</ion-select-option>
            <ion-select-option value="70 Pax(s)">70 Pax(s)</ion-select-option>
            <ion-select-option value="70 Pax(s)">70 Pax(s)</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col size="6">
          <ion-input class="input font-14" placeholder=" Price" style="width: 100%; margin: 0;"></ion-input>
        </ion-col>
        <ion-col size="6">
          <ion-select class="font-14 ion-select-T" style="color: #ACACAC;" label-placement="floating"
            interface="popover" value="No">
            <ion-select-option value="No">No luggage.</ion-select-option>
            <ion-select-option value="No">No luggage.</ion-select-option>
            <ion-select-option value="No">No luggage.</ion-select-option>
            <ion-select-option value="No">81 Seat Standard C..</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col size="6">
          <ion-input class="input font-14" placeholder=" Price" style="width: 100%; margin: 0;"></ion-input>
        </ion-col>
      </ion-row>
      <ion-col size="12" style="margin-top: 4%;">
        <ion-label class="font-16" style="font-weight: bold; color: #000000;">As Directed</ion-label>
      </ion-col>
      <ion-col size="6">
        <ion-input class="input font-14" type="number" value="0"
          style=" width: 100%; margin: 0; text-align: right; padding-right: 3%;"></ion-input>
      </ion-col>
      <ion-col size="6" style="display: flex; align-items: end;">
        <ion-label class="font-14" style="color: #000000;">miles</ion-label>
      </ion-col>
      <ion-col size="6" style="margin-top: 3%;">
        <ion-label class="font-16" style="font-weight: bold; color: #000000;">Actual Time</ion-label>
        <ion-row style="margin-top: 4%;">
          <ion-input class="input font-14" style="margin: 0; color: #707070;" placeholder="Hours / Minutes">
            <ion-icon id="open-time" style="margin-right: 2%;" slot="end" name="time-outline"
              class="icon-blue"></ion-icon>
          </ion-input>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" class="card-toolbar">
        <ion-row (click)="togglePrice()">
          <ion-col size="10" class="center-left">
            <ion-icon name="cash-outline" style="width: 25px; height: 29px; margin-right: 5%; color: #ffff;"></ion-icon>
            <ion-label style="color: #ffff;">| Pricing</ion-label>
          </ion-col>
          <ion-col size="2" class="center" style="justify-content: space-between;">
            <ion-icon class="iconbar" name="notifications-circle-outline"></ion-icon>
            <ion-icon class="iconbar" [name]="iconNamePrice"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="isdropPrice">
      <ion-col size="12" style="display: flex; align-items: center; justify-content: end;">
        <ion-icon style="font-size: 25px; color: #469FD1;" name="create-outline"></ion-icon>
      </ion-col>
      <ion-row style="padding-bottom: 3%;">
        <ion-col size="6">
          <ion-label class="font-14" style="color: #000000;">Vehicle Price : <span
              style="color: #747474;">{{dt_p.vehicle_price}}</span></ion-label>
        </ion-col>
        <ion-col size="6">
          <ion-label class="font-14" style="color: #000000;">Total Price : <span
              style="color: #747474;">{{dt_p.total_price}}</span></ion-label>
        </ion-col>
        <ion-col size="6">
          <ion-label class="font-14" style="color: #000000;">Deposit Amount : <span
              style="color: #747474;">{{dt_p.deposit_amount}}</span></ion-label>
        </ion-col>
        <ion-col size="6">
          <ion-label class="font-14" style="color: #000000;">Deposit % : <span
              style="color: #747474;">{{dt_p.deposit}}</span></ion-label>
        </ion-col>
        <ion-col size="6">
          <ion-label class="font-14" style="color: #000000;">Payment Message : <span
              style="color: #747474;">{{dt_p.payment_message}}</span></ion-label>
          <ion-label class="font-14"></ion-label>
        </ion-col>
        <ion-col size="6" style="display: flex; justify-content: space-between;">
          <ion-label class="font-14 text-truncate" style="color: #000000;">Price per person: <span
              style="color: #747474;">{{dt_p.price_per_person}}</span></ion-label>
        </ion-col>
        <ion-col size="12" class="center-left">
          <ion-label class="font-14" style="color: #000000; margin-right: 2%;">Balance Due Date: <span
              style="color: #747474;">Wed 18th Jul 2029 £0.00</span></ion-label>
        </ion-col>
        <ion-col size="4">
          <ion-button class="ion-button-blue center font-13">
            Quick Price
          </ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button class="ion-button-blue center font-13">
            Make Payment
          </ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button class="ion-button-blue center font-13">
            Pricing History
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-row>

    <ion-row>
      <ion-col size="12" class="card-toolbar">
        <ion-row (click)="toggleMisc()">
          <ion-col size="10" class="center-left">
            <ion-icon name="help-outline" style="width: 25px; height: 29px; margin-right: 5%; color: #ffff;"></ion-icon>
            <ion-label style="color: #ffff;">| Misc</ion-label>
          </ion-col>
          <ion-col size="2" class="center" style="justify-content: space-between;">
            <ion-icon class="iconbar" name="notifications-circle-outline"></ion-icon>
            <ion-icon class="iconbar" [name]="iconNameMisc"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="isdropMisc">
      <ion-row style="padding: 2%;">
        <ion-col size="12">
          <ion-label class="font-14" style="color: #000000;">Internal Profile: <span
              style="color: #747474;">{{dt_m.internal_profile}}</span></ion-label>
        </ion-col>
        <ion-col size="12">
          <ion-label class="font-14" style="color: #000000;">Account Owner: <span
              style="color: #747474;">{{dt_m.account_owner}}</span></ion-label>
        </ion-col>
        <ion-col size="12">
          <ion-label class="font-14" style="color: #000000;">Priority: <span
              style="color: #747474;">{{dt_m.priority}}</span></ion-label>
        </ion-col>
        <ion-col size="12">
          <ion-label class="font-14" style="color: #000000;">How did you hear of us ?: <span
              style="color: #747474;">{{dt_m.hear_of_us}}</span></ion-label>
        </ion-col>
        <ion-col size="12">
          <ion-label class="font-14" style="color: #000000;">Salesperson: <span
              style="color: #747474;">{{dt_m.sales_person}}</span></ion-label>
          <ion-label class="font-14"> </ion-label>
        </ion-col>
        <ion-col size="12">
          <ion-label class="font-14" style="color: #000000;">Opsperson: <span
              style="color: #747474;">{{dt_m.opsperson}}</span></ion-label>
        </ion-col>
        <ion-col size="12" class="center-left">
          <ion-label class="font-14" style="color: #000000; margin-right: 2%;">Crator: <span
              style="color: #747474;">{{dt_m.creator}}</span></ion-label>
        </ion-col>
        <ion-col size="12" class="center-left">
          <ion-label class="font-14" style="color: #000000; margin-right: 2%;">Notes (Customer see these!): <span
              style="color: #747474;"></span></ion-label>
        </ion-col>
        <ion-col size="12">
          <ion-textarea value="{{dt_m.comment}}"></ion-textarea>
        </ion-col>
        <ion-col size="4" style="display: block; justify-items: center;">
          <ion-label class="font-16" style="color: #469FD1; display: block;">Chang Status</ion-label>
          <ion-icon name="document-attach-outline" style="width: 43px; height: 50px; color: #000000;"></ion-icon>
          <ion-label class="font-14" style="color: #747474; display: block;">Invoice</ion-label>
        </ion-col>
        <ion-col size="5" style="display: block; justify-items: center;">
          <ion-label class="font-14" style="color: #000000; display: block; margin-bottom: 20%;">No Invoices
            Sent</ion-label>
          <ion-button class="ion-button-blue center font-14" style="color: #ffff; padding: 0;">
            <ion-icon name="card-outline" style="font-size: 30px;"></ion-icon>
            Send Invoice
          </ion-button>
        </ion-col>
        <ion-col size="3" style="display: block; justify-items: center;">
          <ion-icon name="document-attach-outline"
            style="width: 43px; height: 50px; color: #000000; margin-top: 20%; margin-top: 19px;"></ion-icon>
          <ion-label class="font-14" style="color: #747474; display: block;">Quote</ion-label>
        </ion-col>
      </ion-row>
    </ion-row>

    <ion-row (click)="toggleItem()">
      <ion-col size="12" class="card-toolbar">
        <ion-row>
          <ion-col size="11" class="center-left">
            <ion-icon name="pricetags-outline"
              style="width: 25px; height: 29px; margin-right: 5%; color: #ffff;"></ion-icon>
            <ion-label style="color: #ffff;">| Item</ion-label>
          </ion-col>
          <ion-col size="1" class="center" style="justify-content: space-between;">
            <ion-icon class="iconbar" [name]="iconNameItem"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row style="padding: 4%;" *ngIf="isdropItem">
      <ion-col size="6">
        <ion-label class="font-14" style="color: #000000; font-weight: bold;">Location</ion-label>
        <ion-select class="font-14 ion-select-T" style="color: #ACACAC; margin-top: 5%;" label-placement="floating"
          interface="popover" value="No">
          <ion-select-option value="No">No luggage.</ion-select-option>
          <ion-select-option value="No">No luggage.</ion-select-option>
          <ion-select-option value="No">No luggage.</ion-select-option>
          <ion-select-option value="No">81 Seat Standard C..</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="6">
        <ion-label class="font-14" style="color: #000000; font-weight: bold;">Categoty</ion-label>
        <ion-select class="font-14 ion-select-T" style="color: #ACACAC; margin-top: 5%;" label-placement="floating"
          interface="popover" value="No">
          <ion-select-option value="No">No luggage.</ion-select-option>
          <ion-select-option value="No">No luggage.</ion-select-option>
          <ion-select-option value="No">No luggage.</ion-select-option>
          <ion-select-option value="No">81 Seat Standard C..</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="6">
        <ion-label class="font-14" style="color: #000000; font-weight: bold;">Group</ion-label>
        <ion-select class="font-14 ion-select-T" style="color: #ACACAC; margin-top: 5%;" label-placement="floating"
          interface="popover" value="No">
          <ion-select-option value="No">No luggage.</ion-select-option>
          <ion-select-option value="No">No luggage.</ion-select-option>
          <ion-select-option value="No">No luggage.</ion-select-option>
          <ion-select-option value="No">81 Seat Standard C..</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="12">
        <ion-label class="font-14" style="color: #000000; font-weight: bold; ">No extra item yet</ion-label>
      </ion-col>
      <ion-col offset="3">
        <ion-button class="font-14 ion-button-green">
          Send and Save
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="font-14 ion-button-blue">
          Quick Save
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>