.bar {
    width: 398px;
    height: 40px;
    border-radius: 2px;
    background: var(--unnamed-color-469fd1) 0% 0% no-repeat padding-box;
    background: #469FD1 0% 0% no-repeat padding-box;
    opacity: 1;
}

.font-18 {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 18px/22px var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    text-align: left;
    font: normal normal 18px/22px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.font-14 {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-17) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-469fd1);
    text-align: left;
    font: normal normal normal 14px/17px Roboto;
    letter-spacing: 0px;
    color: #469FD1;
    opacity: 1;
}

ion-grid {
    padding: 4%;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-left-top {
    display: flex;
    align-items: start;
    justify-content: start;
}

.center-left {
    display: flex;
    align-items: center;
    justify-content: start;
}

.center-right {
    display: flex;
    align-items: center;
    justify-content: end;
}

.card-blue {
    height: 106px;
    margin-bottom: 3%;
    padding: 3%;
    border: 0.2px solid var(--unnamed-color-469fd1);
    background: #CDE5F3 0% 0% no-repeat padding-box;
    box-shadow: none;
    // border: 0.01px solid #469FD1;
    border-radius: 4px;
    opacity: 1;
}

.small-card {
    height: 25px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: none;
    border-radius: 4px;
    opacity: 1;
}

.timeline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        height: 2px;
        background-color: transparent; // ต้องโปร่งใสเพื่อแสดงเส้นประ
        border-top: 1.5px dashed #FFFFFF; // เปลี่ยนเป็นเส้นประ
        z-index: 1;
    }

    .step {
        position: relative;
        z-index: 2;
        //   background-color: #fff; // สีพื้นหลังของไอคอน
        border: 1px solid #FFFFFF; // สีขอบวงกลม
        border-radius: 50%;
        width: 15px; // ขนาดวงกลม
        height: 15px;
        display: flex;
        align-items: center;
        justify-content: center;

        &.active {
            border-color: #fff; // สีขอบเมื่อ active
            background-color: #fff; // สีพื้นหลังเมื่อ active
            color: #fff; // สีของไอคอนเมื่อ active
        }

        .icon {
            font-size: 16px; // ขนาดของไอคอน
        }
    }
}

.custom-accordion {
    position: relative;
}

.accordion-header {
    position: sticky;
    /* ทำให้ Header ติดอยู่กับตำแหน่ง */
    top: 0;
    /* ตำแหน่งด้านบน */
    z-index: 2;
    /* ทำให้ Header อยู่ด้านหน้าของ Content */
    background-color: white;
    /* สีพื้นหลังของ Header */
}

.accordion-content {
    overflow: hidden;
    /* ซ่อนเนื้อหาส่วนที่ไม่แสดง */
    transition: max-height 0.3s ease-in-out;
    /* เพิ่มการเลื่อนที่นุ่มนวล */
    max-height: 0;
    /* ซ่อนเนื้อหาเมื่อปิด */
}

ion-accordion[active] .accordion-content {
    max-height: 300px;
    /* กำหนดความสูงเนื้อหาเมื่อเปิด (ปรับได้ตามต้องการ) */
}