:root {

    /* Colors: */
    --unnamed-color-edeef0: #EDEEF0;
    --unnamed-color-747474: #747474;
    --unnamed-color-ff9900: #FF9900;
    --unnamed-color-000000: #000000;
    --unnamed-color-f4f5f8: #F4F5F8;
    --unnamed-color-ffffff: #FFFFFF;
    --unnamed-color-397c53: #397C53;
    --unnamed-color-469fd1: #469FD1;
    --unnamed-color-ff0101: #FF0101;
    --unnamed-color-03679f: #03679F;
    --unnamed-color-035887: #035887;
    --unnamed-color-707070: #707070;

    /* Font/text values */
    --unnamed-font-family-roboto: Roboto;
    --unnamed-font-style-normal: normal;
    --unnamed-font-weight-normal: normal;
    --unnamed-font-weight-bold: bold;
    --unnamed-font-size-14: 14px;
    --unnamed-font-size-16: 16px;
    --unnamed-character-spacing-0: 0px;
    --unnamed-line-spacing-17: 17px;
    --unnamed-line-spacing-19: 19px;
}

/* Character Styles */
.unnamed-character-style-1 {
    font-family: var(--unnamed-font-family-roboto);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-14);
    line-height: var(--unnamed-line-spacing-17);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-469fd1);
}

.unnamed-character-style-2 {
    font-family: var(--unnamed-font-family-roboto);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-14);
    line-height: var(--unnamed-line-spacing-17);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
}

.unnamed-character-style-3 {
    font-family: var(--unnamed-font-family-roboto);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-16);
    line-height: var(--unnamed-line-spacing-19);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
}

.bar {
    width: 398px;
    height: 40px;
    border-radius: 2px;
    background: var(--unnamed-color-469fd1) 0% 0% no-repeat padding-box;
    background: #469FD1 0% 0% no-repeat padding-box;
    opacity: 1;
}

.font-18 {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 18px/22px var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    text-align: left;
    font: normal normal 18px/22px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.font-14 {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-17) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-469fd1);
    text-align: left;
    font: normal normal normal 14px/17px Roboto;
    letter-spacing: 0px;
    // color: #469FD1;
    opacity: 1;
}

.font-16 {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-469fd1);
    text-align: left;
    font: normal normal normal 16px/19px Roboto;
    letter-spacing: 0px;
    color: #469FD1;
    opacity: 1;
}


ion-grid {
    padding: 4%;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-left-top {
    display: flex;
    align-items: start;
    justify-content: start;
}

.center-left {
    display: flex;
    align-items: center;
    justify-content: start;
}

.center-right {
    display: flex;
    align-items: center;
    justify-content: end;
}

.card-blue {
    height: 106px;
    margin-bottom: 3%;
    padding: 3%;
    border: 0.2px solid var(--unnamed-color-469fd1);
    background: #CDE5F3 0% 0% no-repeat padding-box;
    box-shadow: none;
    // border: 0.01px solid #469FD1;
    border-radius: 4px;
    opacity: 1;
}

.small-card {
    height: 25px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: none;
    border-radius: 4px;
    opacity: 1;
}

.timeline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        height: 2px;
        background-color: transparent; // ต้องโปร่งใสเพื่อแสดงเส้นประ
        border-top: 1.5px dashed #FFFFFF; // เปลี่ยนเป็นเส้นประ
        z-index: 1;
    }

    .step {
        position: relative;
        z-index: 2;
        //   background-color: #fff; // สีพื้นหลังของไอคอน
        border: 1px solid #FFFFFF; // สีขอบวงกลม
        border-radius: 50%;
        width: 15px; // ขนาดวงกลม
        height: 15px;
        display: flex;
        align-items: center;
        justify-content: center;

        &.active {
            border-color: #fff; // สีขอบเมื่อ active
            background-color: #fff; // สีพื้นหลังเมื่อ active
            color: #fff; // สีของไอคอนเมื่อ active
        }

        .icon {
            font-size: 16px; // ขนาดของไอคอน
        }
    }
}

.item-drop {
    width: 180px;
    height: 34px;
    min-height: 34px;
    text-align: center;
    color: #000;
    --background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 0.5px solid var(--unnamed-color-469fd1);
    --background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5px solid #469FD1C4;
    border-radius: 2px;
    opacity: 1;
}

.item-drop-header {
    width: 180px;
    height: 34px;
    min-height: 34px;
    text-align: center;
    color: #469FD1;
    --background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 0.5px solid var(--unnamed-color-469fd1);
    --background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5px solid #469FD1;
    border-radius: 3px;
    opacity: 1;
}

.input {
    height: 40px;
    min-height: 40px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 0.5px solid var(--unnamed-color-707070);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5px solid #707070;
    border-radius: 2px;
    opacity: 1;
}

ion-textarea {
    height: 80px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 0.5px solid var(--unnamed-color-707070);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5px solid #707070;
    border-radius: 2px;
    opacity: 1;
}

.card-bid {
    width: 395px;
    // height: 185px;
    border: 0.5px solid #6C757D33;
    border-radius: 15px;
    opacity: 1;
}

.status-green {
    height: 24px;
    background: var(--unnamed-color-397c53) 0% 0% no-repeat padding-box;
    background: #397C53 0% 0% no-repeat padding-box;
    border-radius: 12px;
    opacity: 1;
}

.ion-button-make-bid {
    width: 124px;
    height: 45px;
    min-height: 45px;
    background: var(--unnamed-color-469fd1) 0% 0% no-repeat padding-box;
    --background: #469FD1 0% 0% no-repeat padding-box;
    --border-radius: 2px;
    opacity: 1;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

// ion-item.item-drop-header.center {
//     width: 180px;
//     height: 34px;
//     min-height: 34px;
//     overflow: visible; /* ให้พื้นที่ขยายได้ */
//     transition: width 0.2s ease, height 0.2s ease; /* ทำให้การเปลี่ยนขนาดสมูธ */
//   }

//   ion-item.item-drop-header.center:active {
//     width: 190px;
//     height: 40px;
//     min-height: 40px;
//   }

ion-item.item-drop.center.selected {
    --background: #469FD1C4;
    color: #ffffff;
}

ion-modal {
    --border-radius: 13px;
}

.ion-select-T {
    height: 40px;
    min-height: 40px;
    --background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 0.5px solid var(--unnamed-color-707070);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5px solid #707070;
    border-radius: 2px;
    opacity: 1;
}

.ion-button-blue {
    width: 100%;
    height: 40px;
    min-height: 40px;
    background: var(--unnamed-color-469fd1) 0% 0% no-repeat padding-box;
    --background: #469FD1 0% 0% no-repeat padding-box;
    --border-radius: 2px;
    opacity: 1;
}

.ion-button-yello {
    width: 100%;
    height: 40px;
    min-height: 40px;
    --background: #F3AB00 0% 0% no-repeat padding-box;
    --border-radius: 2px;
    opacity: 1;
}

.checkbox-q {
    --size: 15px;
    --border-color: #ffffff;
    --border-color-checked: #ffffff;
    --checkbox-background: #469fD1;
    --checkbox-background-checked: #ffffff;
    --checkmark-color: #469fD1;
    --checkmark-width: 1px;
    --border-width: 1px;
}

.custom-checkbox {
    --size: 15px;
    --border-color: #469fD1;
    --border-color-checked: #469fD1;
    --checkbox-background-checked: #469FD1;
    --checkmark-color: #ffffff;
    --checkmark-width: 1px;
    --border-width: 1px;
}

.item-list {
    --background: #469FD1;
    /* กำหนดค่าเริ่มต้น */
}

.item-list:nth-child(odd) {
    color: #000;
    height: 45px;
    --background: #F3F3F3 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 2px;
    opacity: 1;
}

.item-list:nth-child(even) {
    color: #fff;
    height: 45px;
    --background: var(--unnamed-color-469fd1) 0% 0% no-repeat padding-box;
    --background: #469FD1 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 2px;
    opacity: 1;

    .color-list {
        color: #fff;
    }
}

.color-list {
    color: #469fD1;
}

.ion-button-blue-no-back {
    width: 100%;
    height: 40px;
    min-height: 40px;
    color: #469FD1;
    --background: none;
    border: 0.5px solid var(--unnamed-color-469fd1);
    border: 0.5px solid #469FD1;
    border-radius: 2px;
    opacity: 1;
}