<ion-header>
  <ion-toolbar>
    <app-explore-header style="width: 100%;"></app-explore-header>
  </ion-toolbar>
</ion-header>

<ion-content class="white-background" [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="center">
        <ion-label class="font-18" style="font-weight: bold;">Covering Job</ion-label>
      </ion-col>
      <ion-col size="12" class="center-left-top">
        <ion-icon (click)="back_quotepreview()" name="chevron-back-outline"
          style="margin-top: -7%; margin-bottom: 10%; font-size: 23px; color: #747474; "></ion-icon>
      </ion-col>
      <ion-col size="12" class="bar center-left">
        <ion-icon name="folder-open-outline" class="icon-bar"></ion-icon>
        <ion-label class="font-18" style="color: #ffff;">| Job Select</ion-label>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 3%; margin-bottom: 5%;" *ngFor="let j of quotepreviewservice.jm; let i = index;">
      <ion-col size="12" class="card-journey">
        <ion-row style="padding: 2%;">
          <ion-col size="12">
            <ion-label class="font-16" style="color: #469FD1;">Journey: {{j[0]}}</ion-label>
          </ion-col>
          <ion-col size="12" class="card-mm center-left">
            <ion-label class="font-16" style="color: #747474;">Movement:</ion-label>
            <ion-badge *ngFor="let m of j[1]">{{m}}</ion-badge>
          </ion-col>
        </ion-row>
      </ion-col>

      <!-- <ion-col class="bg-header-bar no-padding" size="12" style="display: flex;">
        <ion-col size="6" class="no-padding" style="border-right: 0.1px solid #469FD1C4;">
          <ion-row class="header-bar center">
            <ion-label class="font-14" style="color: #ffff;">Journey</ion-label>
          </ion-row>
          <ion-row class="center-left" style="height: 63%; padding: 10%;">
            <ion-badge>1</ion-badge>
          </ion-row>
        </ion-col>
        <ion-col size="6" class="no-padding" style="border-left: 0.1px solid #469FD1C4;">
          <ion-row class="header-bar center">
            <ion-label class="font-14" style="color: #ffff;">Movement</ion-label>
          </ion-row>
          <ion-row class="center-left" style="height: 63%; padding: 10%;">
            <ion-badge>1</ion-badge>
          </ion-row>
        </ion-col>
      </ion-col> -->

      <!-- <ion-col size="12" class="card-blue">
          <ion-row style="padding-bottom: 8%;">
            <ion-col size="3" class="small-card center">
              <ion-label class="font-14">Journey</ion-label>
            </ion-col>
            <ion-col size="7" class="center">
              <div class="timeline">
                <div class="step"></div>
                <ion-icon name="navigate-circle" style="color: #ffff; font-size: 25px;"></ion-icon>
                <div class="step"></div>
              </div>
            </ion-col>
            <ion-col size="2" class="small-card center">
              <ion-label class="font-14">1</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3" class="small-card center" style="margin-right: 5%;">
              <ion-label class="font-14">Movement</ion-label>
            </ion-col>
            <ion-col size="1" class="small-card center" style="color: #ffff; background-color: #469FD1C4;">
              <ion-label>1</ion-label>
            </ion-col>
          </ion-row>
        </ion-col> -->
      <!-- <ion-col size="12" class="card-blue">
          <ion-row style="padding-bottom: 8%;">
            <ion-col size="3" class="small-card center">
              <ion-label class="font-14">Journey</ion-label>
            </ion-col>
            <ion-col size="7" class="center">
              <div class="timeline">
                <div class="step"></div>
                <ion-icon name="navigate-circle" style="color: #ffff; font-size: 25px;"></ion-icon>
                <div class="step"></div>
              </div>
            </ion-col>
            <ion-col size="2" class="small-card center">
              <ion-label class="font-14">1</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3" class="small-card center" style="margin-right: 5%;">
              <ion-label class="font-14">Movement</ion-label>
            </ion-col>
            <ion-col size="1" class="small-card center" style="color: #ffff; background-color: #469FD1C4;">
              <ion-label>1</ion-label>
            </ion-col>
          </ion-row>
        </ion-col> -->
    </ion-row>
    <ion-row *ngIf="bidding" style="margin-bottom: 5%;">
      <ion-col size="12" class="bar center-left">
        <ion-label class="font-18" style="color: #ffff;">Bidding</ion-label>
      </ion-col>
      <ion-col size="12" class="card-journey" style="margin-top: 3%;">
        <ion-row style="padding: 2%;">
          <ion-label class="font-16">Whole Job</ion-label>
        </ion-row>
        <ion-row style="padding: 5%; padding-top: 0;">
          <ion-col size="12" class="card-mm">
            <ion-row style="padding: 2%;">
              <ion-col size="7.7" class="center-left">
                <ion-icon name="calendar" class="icon-mm"></ion-icon>
                <ion-label class="font-14" style="color: #747474;">Mon 20 January 2025</ion-label>
              </ion-col>
              <ion-col size="4.3" class="center-left">
                <ion-icon name="alarm" class="icon-mm"></ion-icon>
                <ion-label class="font-14" style="color: #747474;">07:47</ion-label>
              </ion-col>
              <ion-col size="7.7" class="center-left">
                <ion-icon name="business" class="icon-mm"></ion-icon>
                <ion-label class="font-14" style="color: #747474;">Alex eCM Support</ion-label>
              </ion-col>
              <ion-col size="4.3" class="center-left">
                <ion-icon name="people-circle-outline" class="icon-mm"></ion-icon>
                <ion-label class="font-14" style="color: #747474;">Alex</ion-label>
              </ion-col>
              <ion-col size="7.7" class="center-left">
                <ion-icon name="card" class="icon-mm"></ion-icon>
                <ion-label class="font-14" style="color: #747474;">10 £ (Previous Bid :0 £)</ion-label>
              </ion-col>
              <ion-col size="4.3" class="center-left">
                <ion-icon name="navigate-circle" class="icon-mm"></ion-icon>
                <ion-label class="font-14" style="color: #747474;">9.8 mile</ion-label>
              </ion-col>
              <ion-col size="7.7" class="center-left">
                <ion-icon name="card" class="icon-mm"></ion-icon>
                <ion-label class="font-14" style="color: #747474;">Lorem Ipsum is simply dummy text.</ion-label>
              </ion-col>
              <ion-col size="4.3" class="center-left">
                <ion-icon name="clipboard" class="icon-mm"></ion-icon>
                <ion-label class="font-14" style="color: #747474;">Email</ion-label>
              </ion-col>
              <ion-col size="12" class="space-between">
                <span>
                  <ion-icon class="icon-star" name="star"></ion-icon>
                  <ion-icon class="icon-star" name="star-outline"></ion-icon>
                  <ion-icon class="icon-star" name="star-outline"></ion-icon>
                  <ion-icon class="icon-star" name="star-outline"></ion-icon>
                  <ion-icon class="icon-star" name="star-outline"></ion-icon>
                </span>
                <ion-button class="button-blue font-14" (click)="checkBut()">Unassign</ion-button>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col size="6">
        <ion-button class="button-gray font-14">
          <ion-icon name="bag-add-outline"></ion-icon>
          Whole Job (1)
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button class="button-yello font-14 center">
          <ion-icon style="margin-right: 1%;" name="call-outline"></ion-icon>
          Start Auto Dialing (4)
        </ion-button>
      </ion-col>
    </ion-row> -->
    <ion-row class="bar">
      <ion-col size="6" style="display: flex; align-items: start; justify-content: start;">
        <ion-label class="font-18" style="color: #ffff; margin-top: 4px;">New Bid</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset="7" size="5" style="margin: 0; padding: 0; margin-top: 3%;">
        <ion-button id="popover-button" class="item-drop-header" (click)="openPopover($event)">
          <ion-label class="font-14">Get Bids</ion-label>
          <ion-icon [name]="isOpen ? 'chevron-up' : 'chevron-down'"></ion-icon>
        </ion-button>

        <!-- Popover -->
        <ion-popover trigger="popover-button" [event]="event" [isOpen]="isOpen" (ionDismiss)="isOpen = false">
          <ng-template>
            <ion-content scroll-y="false">
              <ion-list class="list-item">
                <ion-item lines="none" (click)="openOrign()" class="item-drop center">
                  <ion-icon class="icon-pop" name="pin-outline"></ion-icon>
                  <ion-label class="font-14" style="color: #424242;">Get bids at origin</ion-label>
                </ion-item>
                <ion-item lines="none" (click)="openAlong()" class="item-drop center" >
                  <ion-icon class="icon-pop" name="compass-outline"></ion-icon>
                  <ion-label class="font-14" style="color: #424242;">Get bids along route</ion-label>
                </ion-item>

                <ion-item lines="none" (click)="openDes()" id="open-modal-at-destination" class="item-drop center" >
                  <ion-icon class="icon-pop" name="flag-outline"></ion-icon>
                  <ion-label class="font-14 no-margin" style="color: #424242;">Get bids at destination</ion-label>
                </ion-item>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-popover>


        <!-- <ion-popover [isOpen]="isOpen" [event]="event" (didDismiss)="isOpen = false"
          style="margin-top: 2%;" trigger="bottom-start" side="bottom" alignment="start" >
          <ng-template>
            <ion-content scroll-y="false" style="border-radius: 2px; margin-right: 20%;" class="center-list">
              <ion-list >
              <ion-row class="item-drop" lines="none" button>
                <ion-icon name="pin-outline"></ion-icon>
                <ion-label class="font-14" style="color: #424242;">Get bids at origin</ion-label>
              </ion-row>
              <ion-item class="item-drop" lines="none" button [detail]="false">
                <ion-icon name="compass-outline"></ion-icon>
                <ion-label class="font-14" style="color: #424242;">Get bids along route</ion-label>
              </ion-item>
              <ion-item class="item-drop" lines="none" button [detail]="false">
                <ion-icon name="flag-outline"></ion-icon>
                <ion-label class="font-14 no-margin" style="color: #424242;">Get bids at destination</ion-label>
              </ion-item>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-popover> -->

        <!-- Modal -->
        <!-- <ion-modal [isOpen]="isModalOpen" (didDismiss)="isModalOpen = false">
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-title>My Modal</ion-title>
                <ion-buttons slot="end">
                  <ion-button (click)="isModalOpen = false">Close</ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding">
              <p>This is a modal content.</p>
            </ion-content>
          </ng-template>
        </ion-modal> -->


        <!-- <ion-accordion-group style="z-index: 3;">
          <ion-accordion>
            <ion-item slot="header" class="item-drop-header center">
              <ion-label class="font-16" style="margin-left: 15%; color: #ffff;">Get bids</ion-label>
            </ion-item>

            <ion-list class="list-item " slot="content"
              style="background-color: #ffff; display: block; align-items: center; justify-content: center; padding: 3%; margin-top: 2%;">
              <ion-item lines="none" id="open-modal-orign" class="item-drop center"
                [class.selected]="selectedItem === 'origin'" (click)="selectItem('origin')">
                <ion-icon name="pin-outline"></ion-icon>
                <ion-label class="font-14" style="color: #424242;">Get bids at origin</ion-label>
              </ion-item>

              <ion-item lines="none" id="open-modal-along-route" class="item-drop center"
                [class.selected]="selectedItem === 'route'" (click)="selectItem('route')">
                <ion-icon name="compass-outline"></ion-icon>
                <ion-label class="font-14" style="color: #424242;">Get bids along route</ion-label>
              </ion-item>

              <ion-item lines="none" id="open-modal-at-destination" class="item-drop center"
                [class.selected]="selectedItem === 'destination'" (click)="selectItem('destination')">
                <ion-icon name="flag-outline"></ion-icon>
                <ion-label class="font-14 no-margin" style="color: #424242;">Get bids at destination</ion-label>
              </ion-item>
            </ion-list>
          </ion-accordion>
        </ion-accordion-group> -->
      </ion-col>
    </ion-row>
    <ion-row style="padding: 2%; margin-top: 2%;">
      <ion-col size="4" class="center-left-top">
        <ion-label class="font-14" style="color: #747474;">Lookup Affiliate</ion-label>
      </ion-col>
      <ion-col size="8" >
        <ion-input class="input font-14" style="color: #747474;" placeholder=" Find affiliateID by name"></ion-input>
      </ion-col>
      <ion-col size="4" class="center-left-top">
        <ion-label class="font-14" style="color: #747474;">Affiliate ID</ion-label>
      </ion-col>
      <ion-col size="8">
        <ion-input class="input font-14" style="color: #747474;" placeholder=""></ion-input>
      </ion-col>
      <ion-col size="4" class="center-left-top">
        <ion-label class="font-14" style="color: #747474;">Price</ion-label>
      </ion-col>
      <ion-col size="8">
        <ion-input class="input font-14" style="color: #747474;" placeholder=" Your Price"></ion-input>
      </ion-col>
      <ion-col size="4" class="center-left-top">
        <ion-label class="font-14" style="color: #747474;">Name</ion-label>
      </ion-col>
      <ion-col size="8">
        <ion-input class="input font-14" style="color: #747474;" placeholder=" Your Name"></ion-input>
      </ion-col>
      <ion-col size="4" class="center-left-top">
        <ion-label class="font-14" style="color: #747474;">Notes</ion-label>
      </ion-col>
      <ion-col size="8">
        <ion-textarea class="font-14" style="color: #747474;" placeholder=" Your Notes"></ion-textarea>
      </ion-col>
      <ion-col size="4" class="center-left-top">
        <ion-label class="font-14" style="color: #747474;">Price</ion-label>
      </ion-col>
      <ion-col size="8">
        <ion-input class="input font-14" style="color: #747474;" placeholder=" £"></ion-input>
      </ion-col>
    </ion-row>

    <!-- <ion-row style="margin-top: 10%;">
      <ion-col size="12" class="card-bid">
        <ion-row>
          <ion-col size="6" class="status-green center">
            <ion-label class="font-14" style="color: #ffff;">Status: Bidding Completed</ion-label>
          </ion-col>
          <ion-col size="6" class="center-right">
            <ion-label class="font-14" style="color: #747474;">24 March 2025</ion-label>
          </ion-col>
          <ion-col size="12">
            <ion-label class="font-14" style="color: black;">Get bids at orign</ion-label>
          </ion-col>
          <ion-col size="12">
            ----------------------
          </ion-col>
          <ion-col size="12" class="center-right">
            <ion-label class="font-14" style="color: black;">Get bids along route</ion-label>
          </ion-col>
          <ion-col size="12" class="no-padding">
            <ion-label class="font-14" style="color: #ACACAC;">Bid Source: Get bids along route.</ion-label>
          </ion-col>
          <ion-col size="12" class="no-padding">
            <hr style="background-color: #6C757D33;">
          </ion-col>
          <ion-col size="12" style="display: flex; align-items: center; justify-content: space-between;">
            <ion-label class="font-16" style="color: #747474;">Similar Bids</ion-label>
            <ion-icon name="share-social-outline" style="font-size: 20px; color: #469FD1C4;"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row> -->

    <!-- </ion-row> -->
    <ion-col size="12" class="center-right">
      <ion-button class="ion-button-make-bid-nobg font-14" style="color: #469FD1;">Share this job</ion-button>
      <ion-button class="ion-button-make-bid font-14" style="color: #ffff;">Make bid</ion-button>
    </ion-col>
  </ion-grid>
</ion-content>



<!-- Modal Get bids at orign -->
<ion-modal #modalorign [isOpen]="isModalOpenOrign" (didDismiss)="isModalOpenOrign = false" [initialBreakpoint]="0.93" [breakpoints]="[0, 0.93]">
  <ng-template>
    <ion-content class="content-modal white-background" scroll-y="true">
      <ion-grid>
        <ion-row>
          <ion-col size="12" class="center">
            <ion-label class="font-18" style="font-weight: bold;">eCoachManager</ion-label>
          </ion-col>
          <ion-col size="12">
            <!-- <ion-icon name="arrow-undo" style="font-size: 20px; color: red; "></ion-icon> -->
          </ion-col>
          <ion-col size="12">
            <ion-label class="font-14">Seart By location</ion-label>
          </ion-col>
          <ion-col size="12">
            <ion-input class="input center">
              <ion-icon style="color: #469FD1; font-size: 25px;" slot="end" name="search-outline"></ion-icon>
            </ion-input>
          </ion-col>
          <ion-col size="12">
            <ion-label class="font-14">Vehicle Type</ion-label>
          </ion-col>
          <ion-col size="12">
            <ion-select class="font-14 ion-select-T" style="color: #ACACAC;" label-placement="floating"
              interface="popover" value="No">
              <ion-select-option value="No">No luggage.</ion-select-option>
              <ion-select-option value="No">No luggage.</ion-select-option>
              <ion-select-option value="No">No luggage.</ion-select-option>
              <ion-select-option value="No">81 Seat Standard C..</ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col size="12">
            <ion-label class="font-14">Vehicle Type</ion-label>
          </ion-col>
          <ion-col size="12">
            <ion-select class="font-14 ion-select-T" style="color: #ACACAC;" label-placement="floating"
              interface="popover" value="No">
              <ion-select-option value="No">No luggage.</ion-select-option>
              <ion-select-option value="No">No luggage.</ion-select-option>
              <ion-select-option value="No">No luggage.</ion-select-option>
              <ion-select-option value="No">81 Seat Standard C..</ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col size="6">
            <ion-label class="font-14">Within</ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-label class="font-14">Prefered</ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-select class="font-14 ion-select-T" style="color: #ACACAC;" label-placement="floating"
              interface="popover" value="No">
              <ion-select-option value="No">No luggage.</ion-select-option>
              <ion-select-option value="No">No luggage.</ion-select-option>
              <ion-select-option value="No">No luggage.</ion-select-option>
              <ion-select-option value="No">81 Seat Standard C..</ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col size="6">
            <ion-select class="font-14 ion-select-T" style="color: #ACACAC;" label-placement="floating"
              interface="popover" value="No">
              <ion-select-option value="No">No luggage.</ion-select-option>
              <ion-select-option value="No">No luggage.</ion-select-option>
              <ion-select-option value="No">No luggage.</ion-select-option>
              <ion-select-option value="No">81 Seat Standard C..</ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col size="6">
            <ion-label class="font-14">Extra Type</ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-label class="font-14">Extraitem</ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-select class="font-14 ion-select-T" style="color: #ACACAC;" label-placement="floating"
              interface="popover" value="No">
              <ion-select-option value="No">No luggage.</ion-select-option>
              <ion-select-option value="No">No luggage.</ion-select-option>
              <ion-select-option value="No">No luggage.</ion-select-option>
              <ion-select-option value="No">81 Seat Standard C..</ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col size="6">
            <ion-select class="font-14 ion-select-T" style="color: #ACACAC;" label-placement="floating"
              interface="popover" value="No">
              <ion-select-option value="No">No luggage.</ion-select-option>
              <ion-select-option value="No">No luggage.</ion-select-option>
              <ion-select-option value="No">No luggage.</ion-select-option>
              <ion-select-option value="No">81 Seat Standard C..</ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col size=12>
            <ion-label class="font-14">Quantity</ion-label>
          </ion-col>
          <ion-col size="6" class="center">
            <ion-select class="font-14 ion-select-T" style="color: #ACACAC;" label-placement="floating"
              interface="popover" value="No">
              <ion-select-option value="No">No luggage.</ion-select-option>
              <ion-select-option value="No">No luggage.</ion-select-option>
              <ion-select-option value="No">No luggage.</ion-select-option>
              <ion-select-option value="No">81 Seat Standard C..</ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col size="6">
            <ion-button class="ion-button-blue font-14" style="color: #ffff;">Find Now!</ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button class="ion-button-blue-no-back  center">
              <ion-icon name="mail-outline" style="font-size: 20px;"></ion-icon>
              <ion-label class="font-14">Custom Email</ion-label>
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button class="ion-button-blue-no-back font-14">
              <ion-icon name="chatbox-outline"></ion-icon>
              <ion-label class="font-14">Emergency SMS</ion-label>
            </ion-button>
          </ion-col>
          <ion-col size=12>
            <ion-label class="font-14">Buy it now price</ion-label>
          </ion-col>
          <ion-col size="6" class="center">
            <ion-input class="input"></ion-input>
          </ion-col>
          <ion-col size="6">
            <ion-button class="ion-button-blue font-14" style="color: #ffff;">Get Bids</ion-button>
          </ion-col>
          <ion-col size="3.5">
            <ion-checkbox labelPlacement="end" class="custom-checkbox font-14" style="color: #000000;">Select
              All</ion-checkbox>
          </ion-col>
          <ion-col size="5">
            <ion-checkbox labelPlacement="end" class="custom-checkbox font-14" style="color: #000000;">Select All
              Preferred</ion-checkbox>
          </ion-col>
          <ion-col size="3.5">
            <ion-checkbox labelPlacement="end" class="custom-checkbox font-14" style="color: #000000;">Select
              None</ion-checkbox>
          </ion-col>
          <ion-col size="6" class="center">
            <!-- <ion-label class="font-14" style="color: #000000;">Showing 1 - 264 of 264</ion-label> -->
          </ion-col>
          <!-- <ion-col size="6">
            <ion-button class="ion-button-yello font-14 center" style="color: #ffff;">
              <ion-icon name="call-outline" style="font-size: 18px; margin-right: 2%;"></ion-icon>
              Start Auto Dialing (4)
            </ion-button>
          </ion-col> -->
          <ion-col size="12" style="max-height: 270px; overflow-y: auto;">
            <ion-list>
              <ion-item class="item-list center" *ngFor="let item of items">
                <ion-col size="4.5" style="padding: 5%;">
                  <ion-checkbox labelPlacement="end" class="custom-checkbox font-14">Select None</ion-checkbox>
                </ion-col>
                <ion-col size="1.5" style="display: flex;">
                  <ion-icon name="star" style="color: #FFB300; font-size: 18px;"></ion-icon>
                  <ion-label class="font-14 color-list">5.0</ion-label>
                </ion-col>
                <ion-col size="3" style="padding: 3%;">
                  <ion-label class="font-14">(5.2 mile)</ion-label>
                </ion-col>
                <ion-col size="2">
                  <ion-label class="font-14">None</ion-label>
                </ion-col>
                <ion-col size="1">
                  <ion-icon class="color-list" name="call-outline"></ion-icon>
                </ion-col>
              </ion-item>
            </ion-list>

            <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
              <ion-infinite-scroll-content></ion-infinite-scroll-content>
            </ion-infinite-scroll>
          </ion-col>
          <ion-col offset="3" size="9" class="center" style="display: flex; margin-bottom: 11%;">
            <!-- <ion-select class="font-14 ion-select-T" style="color: #FFB300; border-color: #FFB300;"
              label-placement="floating" interface="popover" value="No">
              <ion-select-option value="No">No luggage.</ion-select-option>
              <ion-select-option value="No">No luggage.</ion-select-option>
              <ion-select-option value="No">No luggage.</ion-select-option>
              <ion-select-option value="No">81 Seat Standard C..</ion-select-option>
            </ion-select> -->
            <ion-button class="ion-button-blue">Apply</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ng-template>
</ion-modal>

<!-- Modal Get bids along route -->
<ion-modal #modalroute [isOpen]="isModalOpenAlong" (didDismiss)="isModalOpenAlong = false" [initialBreakpoint]="0.93" [breakpoints]="[0, 0.93]">
  <ng-template>
    <ion-content class="white-background">
      <ion-grid>
        <ion-row>
          <ion-col size="12" class="center">
            <ion-label class="font-18" style="font-weight: bold;">Get bids along route</ion-label>
          </ion-col>
          <ion-col size="12">
            <!-- <ion-icon name="arrow-undo" style="font-size: 20px; color: red; "></ion-icon> -->
          </ion-col>
          <ion-col size="4" class="center-left">
            <ion-label class="font-14" style="color: #747474;">From</ion-label>
          </ion-col>
          <ion-col size="8" class="center">
            <ion-input class="input"></ion-input>
          </ion-col>
          <ion-col size="4" class="center-left">
            <ion-label class="font-14" style="color: #747474;">To</ion-label>
          </ion-col>
          <ion-col size="8" class="center">
            <ion-input class="input"></ion-input>
          </ion-col>
          <ion-col size="4" class="center-left">
            <ion-label class="font-14" style="color: #747474;">Vehicle Type</ion-label>
          </ion-col>
          <ion-col size="8" class="center">
            <ion-input class="input"></ion-input>
          </ion-col>
          <ion-col size="4" class="center-left">
            <ion-label class="font-14" style="color: #747474;">Passengers</ion-label>
          </ion-col>
          <ion-col size="8" class="center">
            <ion-input class="input"></ion-input>
          </ion-col>
          <ion-col size="4" class="center-left">
            <ion-label class="font-14" style="color: #747474;">Within</ion-label>
          </ion-col>
          <ion-col size="8" class="center">
            <ion-input class="input"></ion-input>
          </ion-col>
          <ion-col size="12" class="center-right">
            <ion-icon name="map" (click)="showMap()" style="font-size: 25px; color: #469FD1;"></ion-icon>
          </ion-col>
          <ion-col *ngIf="map" size="12" style="height: 300px;">
            <app-map></app-map>
          </ion-col>
          <ion-col size=12>
            <ion-label class="font-14">Buy it now price</ion-label>
          </ion-col>
          <ion-col size="6" class="center">
            <ion-input class="input"></ion-input>
          </ion-col>
          <ion-col size="6">
            <ion-button class="ion-button-blue font-14" style="color: #ffff;">Get Bids</ion-button>
          </ion-col>
          <ion-col size="3.5">
            <ion-checkbox labelPlacement="end" class="custom-checkbox font-14">Select All</ion-checkbox>
          </ion-col>
          <ion-col size="5">
            <ion-checkbox labelPlacement="end" class="custom-checkbox font-14">Select All
              Preferred</ion-checkbox>
          </ion-col>
          <ion-col size="3.5">
            <ion-checkbox labelPlacement="end" class="custom-checkbox font-14">Select None</ion-checkbox>
          </ion-col>
          <ion-col size="6" class="center">
            <ion-label class="font-14">Showing 1 - 264 of 264</ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-button class="ion-button-yello font-14 center" style="color: #ffff;">
              <ion-icon name="call-outline" style="font-size: 18px; margin-right: 2%;"></ion-icon>
              Start Auto Dialing (4)
            </ion-button>
          </ion-col>
          <ion-col size="12" style="max-height: 270px; overflow-y: auto;">
            <ion-list>
              <ion-item class="item-list center" *ngFor="let item of items">
                <ion-col size="4.5" style="padding: 5%;">
                  <ion-checkbox labelPlacement="end" class="custom-checkbox font-14">Select None</ion-checkbox>
                </ion-col>
                <ion-col size="1.5" style="display: flex;">
                  <ion-icon name="star" style="color: #FFB300; font-size: 18px;"></ion-icon>
                  <ion-label class="font-14 color-list">5.0</ion-label>
                </ion-col>
                <ion-col size="3" style="padding: 3%;">
                  <ion-label class="font-14">(5.2 mile)</ion-label>
                </ion-col>
                <ion-col size="2">
                  <ion-label class="font-14">None</ion-label>
                </ion-col>
                <ion-col size="1">
                  <ion-icon class="color-list" name="call-outline"></ion-icon>
                </ion-col>
              </ion-item>
            </ion-list>

            <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
              <ion-infinite-scroll-content></ion-infinite-scroll-content>
            </ion-infinite-scroll>
          </ion-col>

          <ion-col offset="3" size="9" class="center" style="display: flex; margin-bottom: 11%;">
            <ion-select class="font-14 ion-select-T" style="color: #FFB300; border-color: #FFB300;"
              label-placement="floating" interface="popover" value="No">
              <ion-select-option value="No">No luggage.</ion-select-option>
              <ion-select-option value="No">No luggage.</ion-select-option>
              <ion-select-option value="No">No luggage.</ion-select-option>
              <ion-select-option value="No">81 Seat Standard C..</ion-select-option>
            </ion-select>
            <ion-button class="ion-button-blue">Apply</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ng-template>
</ion-modal>

<!-- Modal Get bids at destination -->
<ion-modal #modaldestination [isOpen]="isModalOpenDes" (didDismiss)="isModalOpenDes = false" [initialBreakpoint]="0.93" [breakpoints]="[0, 0.93]">
  <ng-template>
    <ion-content class="content-modal white-background" scroll-y="true">
      <ion-grid style="background-color: #ffff;">
        <ion-row>
          <ion-col size="12" class="center">
            <ion-label class="font-18" style="font-weight: bold;">Get bids at destination</ion-label>
          </ion-col>
          <ion-col size="12">
            <!-- <ion-icon name="arrow-undo" style="font-size: 20px; color: red; "></ion-icon> -->
          </ion-col>
          <ion-col size="12">
            <ion-label class="font-14">Seart By location</ion-label>
          </ion-col>
          <ion-col size="12">
            <ion-input class="input"></ion-input>
          </ion-col>
          <ion-col size="12">
            <ion-label class="font-14">Vehicle Type</ion-label>
          </ion-col>
          <ion-col size="12">
            <ion-select class="font-14 ion-select-T" style="color: #ACACAC;" label-placement="floating"
              interface="popover" value="No">
              <ion-select-option value="No">No luggage.</ion-select-option>
              <ion-select-option value="No">No luggage.</ion-select-option>
              <ion-select-option value="No">No luggage.</ion-select-option>
              <ion-select-option value="No">81 Seat Standard C..</ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col size="12">
            <ion-label class="font-14">Vehicle Type</ion-label>
          </ion-col>
          <ion-col size="12">
            <ion-select class="font-14 ion-select-T" style="color: #ACACAC;" label-placement="floating"
              interface="popover" value="No">
              <ion-select-option value="No">No luggage.</ion-select-option>
              <ion-select-option value="No">No luggage.</ion-select-option>
              <ion-select-option value="No">No luggage.</ion-select-option>
              <ion-select-option value="No">81 Seat Standard C..</ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col size="6">
            <ion-label class="font-14">Within</ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-label class="font-14">Prefered</ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-select class="font-14 ion-select-T" style="color: #ACACAC;" label-placement="floating"
              interface="popover" value="No">
              <ion-select-option value="No">No luggage.</ion-select-option>
              <ion-select-option value="No">No luggage.</ion-select-option>
              <ion-select-option value="No">No luggage.</ion-select-option>
              <ion-select-option value="No">81 Seat Standard C..</ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col size="6">
            <ion-select class="font-14 ion-select-T" style="color: #ACACAC;" label-placement="floating"
              interface="popover" value="No">
              <ion-select-option value="No">No luggage.</ion-select-option>
              <ion-select-option value="No">No luggage.</ion-select-option>
              <ion-select-option value="No">No luggage.</ion-select-option>
              <ion-select-option value="No">81 Seat Standard C..</ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col size="6">
            <ion-label class="font-14">Extra Type</ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-label class="font-14">Extraitem</ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-select class="font-14 ion-select-T" style="color: #ACACAC;" label-placement="floating"
              interface="popover" value="No">
              <ion-select-option value="No">No luggage.</ion-select-option>
              <ion-select-option value="No">No luggage.</ion-select-option>
              <ion-select-option value="No">No luggage.</ion-select-option>
              <ion-select-option value="No">81 Seat Standard C..</ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col size="6">
            <ion-select class="font-14 ion-select-T" style="color: #ACACAC;" label-placement="floating"
              interface="popover" value="No">
              <ion-select-option value="No">No luggage.</ion-select-option>
              <ion-select-option value="No">No luggage.</ion-select-option>
              <ion-select-option value="No">No luggage.</ion-select-option>
              <ion-select-option value="No">81 Seat Standard C..</ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col size=12>
            <ion-label class="font-14">Quantity</ion-label>
          </ion-col>
          <ion-col size="6" class="center">
            <ion-select class="font-14 ion-select-T" style="color: #ACACAC;" label-placement="floating"
              interface="popover" value="No">
              <ion-select-option value="No">No luggage.</ion-select-option>
              <ion-select-option value="No">No luggage.</ion-select-option>
              <ion-select-option value="No">No luggage.</ion-select-option>
              <ion-select-option value="No">81 Seat Standard C..</ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col size="6">
            <ion-button class="ion-button-blue font-14" style="color: #ffff;">Find Now!</ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button class="ion-button-blue-no-back font-14">FCustom Email</ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button class="ion-button-blue-no-back font-14">Emergency SMS</ion-button>
          </ion-col>
          <ion-col size="12">
            <ion-input class="input font-14" style="color: #747474;" placeholder=" SMS Text"></ion-input>
          </ion-col>
          <ion-col size=12>
            <ion-label class="font-14">Buy it now price</ion-label>
          </ion-col>
          <ion-col size="6" class="center">
            <ion-input class="input"></ion-input>
          </ion-col>
          <ion-col size="6">
            <ion-button class="ion-button-blue font-14" style="color: #ffff;">Get Bids</ion-button>
          </ion-col>
          <ion-col size="3.5">
            <ion-checkbox labelPlacement="end" class="custom-checkbox font-14">Select All</ion-checkbox>
          </ion-col>
          <ion-col size="5">
            <ion-checkbox labelPlacement="end" class="custom-checkbox font-14">Select All
              Preferred</ion-checkbox>
          </ion-col>
          <ion-col size="3.5">
            <ion-checkbox labelPlacement="end" class="custom-checkbox font-14">Select None</ion-checkbox>
          </ion-col>
          <ion-col size="6" class="center">
            <ion-label class="font-14">Showing 1 - 264 of 264</ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-button class="ion-button-yello font-14 center" style="color: #ffff;">
              <ion-icon name="call-outline" style="font-size: 18px; margin-right: 2%;"></ion-icon>
              Start Auto Dialing (4)
            </ion-button>
          </ion-col>
          <ion-col size="12" style="max-height: 270px; overflow-y: auto;">
            <ion-list>
              <ion-item class="item-list center" *ngFor="let item of items">
                <ion-col size="4.5" style="padding: 5%;">
                  <ion-checkbox labelPlacement="end" class="custom-checkbox font-14">Select None</ion-checkbox>
                </ion-col>
                <ion-col size="1.5" style="display: flex;">
                  <ion-icon name="star" style="color: #FFB300; font-size: 18px;"></ion-icon>
                  <ion-label class="font-14 color-list">5.0</ion-label>
                </ion-col>
                <ion-col size="3" style="padding: 3%;">
                  <ion-label class="font-14">(5.2 mile)</ion-label>
                </ion-col>
                <ion-col size="2">
                  <ion-label class="font-14">None</ion-label>
                </ion-col>
                <ion-col size="1">
                  <ion-icon class="color-list" name="call-outline"></ion-icon>
                </ion-col>
              </ion-item>
            </ion-list>

            <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
              <ion-infinite-scroll-content></ion-infinite-scroll-content>
            </ion-infinite-scroll>
          </ion-col>
          <ion-col offset="3" size="9" class="center" style="display: flex; margin-bottom: 11%;">
            <ion-select class="font-14 ion-select-T" style="color: #FFB300; border-color: #FFB300;"
              label-placement="floating" interface="popover" value="No">
              <ion-select-option value="No">No luggage.</ion-select-option>
              <ion-select-option value="No">No luggage.</ion-select-option>
              <ion-select-option value="No">No luggage.</ion-select-option>
              <ion-select-option value="No">81 Seat Standard C..</ion-select-option>
            </ion-select>
            <ion-button class="ion-button-blue">Apply</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ng-template>
</ion-modal>